/* Remove default bullets */
ul, #list_neighborhoods {
	list-style-type: none;
}

/* Remove margins and padding from the parent ul */
#list_neighborhoods {
	margin: 5px;
	padding: 0;
	overflow: auto;
}

/* Style the caret/arrow */
.caret {
	cursor: pointer;
	user-select: none; /* Prevent text selection */
}

/* Create the caret/arrow with a unicode, and style it */
.caret::before {
	content: "\25B6";
	color: #007CE2;
	display: inline-block;
	margin-right: 6px;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
	transform: rotate(90deg);
}

/* Hide the nested list */
.nested_neig {
	display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
	display: block;
}

div.list {
  width: 280px;
  display: inline-block;
  overflow:hidden;
}