html { height: 100%; }

body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: "Times New Roman", Times, serif;
    overflow: auto;
}

#map {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 80%;
}

.marker {
	border: none;
	cursor: pointer;
	height: 32px;
	width: 32px;
	background-image: url(../images/marker.png);
	background-color: rgba(0, 0, 0, 0);
	transform: translate(28px, 56px, 0);
}

.marker_source {
	border: none;
	cursor: pointer;
	height: 32px;
	width: 32px;
	background-image: url(../images/marker-orange.png);
	background-color: rgba(0, 0, 0, 0);
	transform: translate(28px, 56px, 0);
}

.marker_target {
	border: none;
	cursor: pointer;
	height: 32px;
	width: 32px;
	background-image: url(../images/marker-green.png);
	background-color: rgba(0, 0, 0, 0);
	transform: translate(28px, 56px, 0);
}

.container {
	height: calc(95vh - 8px);
	height: -moz-calc(95vh - 8px);
    height: -webkit-calc(95vh - 8px);
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	 position: relative;
}

 .top-item {
 	z-index: 0;
    flex: 0 64px;
    display: flex;
    height:5%; 
    background-color:white;
  }

.fixed {
	width: 20%;
	min-width: 360px;
	height: 100%;
	overflow: auto;
}

.flex-item {
	flex-grow: 1;
}

.flatpickr-calendar {
	font-size: 12px;
}

.button-image img {
	display: block;
	height: 16px;
	width: 16px;
}


.button-close {
	background-color: white;
	padding: 4px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	border: none;
	position: relative;
	margin-right: 1px;
	vertical-align: middle;
}

.button-marker {
	background-color: white;
	color: white;
	padding: 4px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	border-radius: 6px;
	border: 1px solid #A0A0A0;
	position: relative;
	margin-right: 1px;
	vertical-align: middle;
}

.button-add {
	background-color: #007CE2;
	color: white;
	font-weight: bold;
	font-size: 18px;
	padding: 4px;
	text-align: center;
	line-height: 3px;
	text-decoration: none;
	display: inline;
	cursor: pointer;
	border-radius: 6px;
	border: 1px solid #A0A0A0;
	margin-left: 3px;
	height: 26px;
	width: 26px;
	position: relative;
	vertical-align: middle;
}

.button-clear {
	background-color: #e7e7e7;
	padding: 4px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	border: 1px solid #A0A0A0;
	position: relative;
	top: 3px;
	margin-right: 5px;
	margin-left: 5px;
}

.dropdown {
	background-color: #e7e7e7;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	border: 1px solid #A0A0A0;
	position: relative;
	top: 3px;
	margin-right: 5px;
	padding: 1px;
	margin-left: 5px;
}

.button-results {
	background-color: #007CE2;
	color: white;
	padding: 4px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	border: 1px solid #A0A0A0;
	position: relative;
	top: 3px;
}

.input-text {
	text-align: left;
	height: 24px;
	margin-right: 4px;
	position: relative;
	width: 180px;
}

.calendar-text {
	text-align: left;
	height: 24px;
	margin-right: 4px;
	position: relative;
	top: 3px;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: #F5F5F5; 
  color: black; 
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  width: 50%;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #007CE2;
  color: white;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #007CE2;
  	color: white;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.boxed {
  border-radius: 6px;
  border: 1px solid #D3D3D3;
  background-color: white;
  cursor: pointer;
  font-weight: 600;
  font-size: 12px;
  margin-bottom: 5px;
}
