<html>
    <head>
        <meta charset='utf-8' />
        <title>Relative Reachability - TEST</title>
        <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
        <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.js'></script>
		<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.css' rel='stylesheet' />
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/flatpickr.css">
        
        <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.0.9/mapbox-gl-draw.js'></script>
		<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.0.9/mapbox-gl-draw.css' type='text/css' />
		
		<script type="text/javascript" src="static/js/color_gradient.js?1"></script>
		
		<script type="text/javascript" src="static/js/polygon.js?13"></script>
		
		<link rel="stylesheet" type="text/css" href="static/css/rr_planner.css?38">
		<script type="text/javascript" src="static/js/routes.js?338"></script>
		<script type="text/javascript" src="static/js/stops.js?5"></script>
        
    </head>
    <body>
    <div class="container">
    	<div id="slidemenu" class = "fixed">
			<div class="input" id="input_frame" style="margin: 5px;">
				<h4>Choose points from the map</h4>
				
				<div class="input" id="source_add">
				<div style="display: inline-block;" >
					<img src="static/images/letter_s.png?2"  style="position:relative; top:10px"> 
				</div>
				<input type="text" id="inputSource" value="" class="input-text" readonly>
				<button id="marker-button-source" class="button-image button-marker" onClick="addMarker('source')"><img src="static/images/marker-orange.png"></button>
				<button id="polygon-button-source" class="button-image button-marker" onClick="addPolygon('source')"><img src="static/images/polygon.png"></button>
				<button id="neig-button-source" class=" button-image button-marker" onClick="addNeighborhood('source')"><img src="static/images/images.png"></button>
				<button id="new_source" class="button-add" value="Add" onClick="addSource()" style="display:none;">+</button>
				</div>
				<div class="input" id="input_source"></div>
				<br>
				
				
				<div class="input" id="target_add">
				<div style="display: inline-block;" >
					<img src="static/images/letter_d.png"  style="position:relative; top:10px"> 
				</div> 
				<input type="text" id="inputTarget" value="" class="input-text" readonly> 
				<button id="marker-button-target" class="button-image button-marker" onClick="addMarker('target')"><img src="static/images/marker-orange.png"></button>
				<button id="polygon-button-target" class="button-image button-marker" onClick="addPolygon('target')"><img src="static/images/polygon.png"></button>
				<button id="neig-button-target" class=" button-image button-marker" onClick="addNeighborhood('target')"><img src="static/images/images.png"></button>
				<button  id="new_target" class="button-add" value="Add" onClick="addTarget()" style="display:none;">+</button>
				</div>
				<div class="input" id="input_target"></div>
				<br><br>
				<div id="edit_buttons" style="width: 100%;">
					<button class="button-edit" onclick="showRoutes(this)">Edit Lines/Stops</button>
					<div id="routes_list_div" style="width: 300px;max-height:30%; overflow:auto; display:none; padding:10px">
						<ul id="list_routes" style="overflow:auto;">
						</ul>
					</div>
					<hr style="padding:0px; margin: 0px; border: 0.8px solid #C8C8C8;">
					<button class="button-edit" id="button-edit-segments" onclick="selectSegments(this)">Edit Road Segments</button>
					<div id="segments_div" style="width: 300px;max-height:30%; overflow:auto; display:none">
						<p style="color:#696969;font-size:14px">Please select road segments from the map.</p>
						<ul id="list_segments" style="width: 200px">
						</ul>
					</div>
					
				</div>
				<br><br>
                <select id="select_departure" onchange="departure(this.value)" class="dropdown">
  					<option value="now">Leave now</option>
  					<option value="later">Depart at</option>
				</select>
				<input type="text" style="display:none;" id="dateTimePicker" placeholder="Please select Date Time" data-input>
				<br><br>
				<button class="button-clear" id="clear_button" onClick="clearFields()">Clear</button> <button class="button-results" id="getResults" onClick="getResults()">Get Directions</button>
			</div>

		</div>
		
        <div data-role="page" id="main_page" data-theme="a" class = "flex-item">
			<div class="map_container" data-role="content">
				<div id="map"></div>
				<div class="shadow"></div>
			</div>
		</div>
	</div>
	
        <script>

      		//console.log(getColorGradient("#FF0000", "#0000FF", 0))
        	
            mapboxgl.accessToken = '{{ ACCESS_KEY }}';
            var map = new mapboxgl.Map({
                container: 'map',
                //style: 'mapbox://styles/mapbox/streets-v9',
                style: 'mapbox://styles/camilaferc/ck52r0hzk05zf1csdqwfxsozd',
                center: [13.4050, 52.5200],
                zoom: 12
            });
            //map.scrollZoom.disable();
            // Add zoom and rotation controls to the map.
			map.addControl(new mapboxgl.NavigationControl());


            map.on('error', e => {
                // Hide those annoying non-error errors
                if (e && e.error !== 'Error: Not Found')
                    console.error(e);
            });

            var routes = {{routes|safe}}
            var stops = {{stops|safe}}
            var stop_routes = {{stop_routes|safe}}
            var transp_mapping = {{transp_mapping|safe}}
            var stop_locations = {{stop_locations|safe}}
            buildRouteList(routes, stops, transp_mapping)
            
            map.on('load', function () {
            	map.loadImage('static/images/bus-icon.png', function(error, image) {
            		if (error) throw error;
            	    map.addImage('bus-icon', image);
            	})
            	
            	addStopsLayer(stop_locations)
            });

            let popup_seg = new Map()

            map.on('contextmenu', function(e) {
                //new mapboxgl.Marker().setLngLat(e.lngLat).addTo(map);
                console.log("right click")
                var latitude = e.lngLat.lat;
                var longitude = e.lngLat.lng;
                console.log(latitude, longitude)
                
                var segment_data = {"latitude": latitude, "longitude": longitude}
        			$.post("segment", JSON.stringify(segment_data) , function(res){
    					//console.log(marker_id)
						var geom = res["segment"];
						var seg_id = res["segment_id"];
						console.log(geom, seg_id)

						
						if (!map.getLayer("seg_"+ seg_id)) {
							console.log("Adding layer:" + seg_id)
							map.addLayer({
						        "id": "seg_"+ seg_id,
						        "type": "line",
						        "source": {
						            "type": "geojson",
						            "data": geom
						        },
						        "layout": {
						            "line-join": "round",
						            "line-cap": "round"
						        },
						        'paint': {
						        	"line-width": 6,
						        	// color routes by type
						        	// https://docs.mapbox.com/mapbox-gl-js/style-spec/#expressions-match
						        	'line-color': '#ffdf00'
						        }
						    }, 'stops');


							var html = '<p style="width: 110px; padding:-10px"> Remove highlighted road segment? </p>' + 
			                '<button style="margin-right: 10px;" onclick="removeSegment(true, '+ seg_id + ')">Yes</button>' +
			                '<button onclick="removeSegment(false, '+ seg_id + ')">No</button>';
			                
			                var popup = new mapboxgl.Popup({closeOnClick: false, anchor: 'top', offset:10, closeButton: false})
			                .setLngLat({lat:latitude, lng: longitude})
			                .setHTML(html)
			                .addTo(map);

			                popup_seg.set(seg_id, popup)

						}
						
            	});

            });

			function removeSegment(remove, segment_id){
				console.log(remove, segment_id)
				popup = popup_seg.get(segment_id)
				popup.remove()
				if (!remove){
					map.removeLayer("seg_"+ segment_id);
					map.removeSource("seg_"+ segment_id);
				}else{
					var div = document.getElementById ( "segments_div" );
					var button = document.getElementById ( "button-edit-segments" );
					button.className += " active_edit";
            		div.style.display = "inline" ;

            		var list = document.getElementById ( "list_segments" );
            		var entry = document.createElement('li');
            		entry.style.overflow = "auto";
            		entry.appendChild(document.createTextNode(segment_id));
            		var checkbox = document.createElement("INPUT");
            		checkbox.setAttribute("type", "checkbox");
            		checkbox.setAttribute("id", "cseg_" + segment_id);
            		checkbox.classList.add('checkbox_list_segment');
            		checkbox.checked = false;
            		entry.appendChild(checkbox);
            		//entry.setAttribute("id", "n" + transp_type);
            		list.appendChild(entry);
				}
			}
			
            map.on('click', 'stops', function(e) {
            	// Here you can access e.features[0] which is the feature cliked
                // With that you can do whatever you want with your feature
                lonLat = e.lngLat
                latitude = lonLat.lat
                longitude = lonLat.lng
                console.log(latitude, longitude)
                console.log(e.features[0])
                console.log(e.features[0].id)
                var stop_id = e.features[0].id
                list_routes = stop_routes[stop_id]
                console.log(list_routes)

                var html = ''
                for (i = 0; i < list_routes.length; i++) {
                    route_name = list_routes[i].split("_")[0]
                    var checkbox = document.getElementById(list_routes[i] + "_" + stop_id);
                    if(checkbox.checked){
                    	html +=  route_name + "<input type='checkbox' class='checkbox_stop' onclick='stopRouteSelection(this)' id='sr_" + list_routes[i] + "_" + stop_id + "' checked ><br>";
                    }else{
                    	html +=  route_name + "<input type='checkbox' class='checkbox_stop' onclick='stopRouteSelection(this)' id='sr_" + list_routes[i] + "_" + stop_id +"'><br>";
                    }
                }
                	                
                var popup = new mapboxgl.Popup({closeOnClick: true, anchor: 'bottom'})
                .setLngLat({lat:latitude, lng: longitude})
                .setHTML(html)
                .addTo(map);
            });

            function stopRouteSelection(checkbox){
                console.log(checkbox.checked)
                console.log(checkbox)
                console.log(checkbox.id)
                route_name_split = checkbox.id.split("_")
                route_name = route_name_split[1] + "_" + route_name_split[2] + "_" + route_name_split[3]
                console.log(route_name)
                var list_checkbox = document.getElementById(route_name);
                console.log(list_checkbox)
                list_checkbox.checked = checkbox.checked;
            }

            map.on('mouseenter', 'stops', () => {
            	  map.getCanvas().style.cursor = 'pointer'
            	})
           	map.on('mouseleave', 'stops', () => {
            	  map.getCanvas().style.cursor = ''
           	})
           	
           	function showRoutes(button){
            	var list = document.getElementById ( "routes_list_div" ) ;
            	if (list.style.display == "none"){
            		button.className += " active_edit";
            		list.style.display = "inline" ;
                }else{
                	list.style.display = "none"
                	button.className = button.className.replace(" active_edit", "");
                }
            }

            function selectSegments(button){
            	var list = document.getElementById ( "segments_div" ) ;
            	if (list.style.display == "none"){
            		button.className += " active_edit";
            		list.style.display = "inline" ;
                }else{
                	list.style.display = "none"
                	button.className = button.className.replace(" active_edit", "");
                }
            }

            /*var header = document.getElementById("edit_buttons");
            var btns = header.getElementsByClassName("button-edit");
            for (var i = 0; i < btns.length; i++) {
              btns[i].addEventListener("click", function() {
              var current = document.getElementsByClassName("active");
              current[0].className = current[0].className.replace(" active", "");
              this.className += " active";
              });
            }*/

            var targets = [];
            var sources = [];
            
            var timer = 0;
            var delay = 250;
            var prevent = false;

            var timestamp = -1;

            var it = 0;
            var is = 0;
            var targetId = 0;
            var sourceId = 0;

            var markers = []
            var popups = []

            var markerActivated = false;

            /*var polygon_source_coords = null;
            var polygon_target_coords = null;
            var draw = null;*/
            
            map.on('click', function(e) {
                if (markerActivated){
                	timer = setTimeout(function() {
                        if (!prevent) {
                        	var latitude = e.lngLat.lat;
                            var longitude = e.lngLat.lng;
                            //doWork()
                            
    						var str = Number((latitude).toFixed(6)) + "," + Number((longitude).toFixed(6));

    						var coord = { lat:latitude, lon:longitude }
    						console.log(coord.lat)
    			
                            console.log(str)
                            
                            //if(document.getElementById('inputSource').hidden == false) { 
                            	if(document.getElementById('inputSource').value == "") {
                    				//add marker
                                    // create a HTML element for each feature
                					
                        			var el = document.createElement('div');
                        			el.className = 'marker_source';
                        			el.style.right = '-5px';
                                    el.style.top = '-12px';

                                    el.addEventListener('click', e => {
                                        e.stopPropagation();
                                        //functions
                                        console.log("source" + " clicked")
                                        
                                        var popup = new mapboxgl.Popup({closeOnClick: false, anchor: 'top'})
                                        .setLngLat({lat:latitude, lng: longitude})
                                        .setHTML("<strong>source</strong>")
                                        .addTo(map);

                                        popup.on('close', function(e) {
                                            console.log("popup closed")
                                        })

                                        popups.push(popup);
                                        
                                    }, true);

                        			// make a marker for each feature and add to the map
                        			var marker = new mapboxgl.Marker(el)
                          				.setLngLat(e.lngLat)
                          				.addTo(map);
                      				
                          			markers.push(marker);

                          			document.getElementById('inputSource').value = str;

                          			//if(!document.getElementById('targetNode1') || (document.getElementById('targetNode1') && document.getElementById('targetNode1').value == "")) {
                          				var new_source = document.getElementById ( "new_source" ) ;
                              			new_source.style.display = "inline" ;
                          			//}

                              		sources.push(coord)
                					
                    			}
                            	else if(document.getElementById('sourceNode'+is) && document.getElementById('sourceNode'+is).value == "") {
                    				//add marker
                                    // create a HTML element for each feature
                        				var el = document.createElement('div');
                        				el.className = 'marker_source';
                        				el.style.right = '-5px';
                                      	el.style.top = '-12px';
                                      	el.setAttribute("id", targetId);

                                      	el.addEventListener('click', e => {
                                            e.stopPropagation();
                                            //functions
                                            console.log("marker" + el.id + " clicked");
                                            
                                            if (map.getLayer("rr_layer")) {
                                        		if (!map.getLayer("paths"+el.id)) {
                                            		var path_data = {"location_type": "source", "id": el.id}
                                        			$.post("path", JSON.stringify(path_data) , function(res){
                                    					//console.log(marker_id)
    													var geom = res["path_geom"];
    													var tt_public = res["tt_public"];
                                    	                var tt_private = res["tt_private"];
    													
                                    	                console.log(tt_public, tt_private);

    													var html = '<font color="blue">' + tt_public + ' min </font><br><font color="red">' + tt_private + ' min </font>'
                                    	                var popup = new mapboxgl.Popup({closeOnClick: false, anchor: 'top'})
                                                        .setLngLat({lat:latitude, lng: longitude})
                                                        .setHTML(html)
                                                        .addTo(map);

                                    	                addPathLayer(el.id, geom);

                                    	                popup.on('close', function(e) {
                                                            console.log("popup closed")
                                                            if (map.getLayer("paths"+el.id)) {
    				    										map.removeLayer("paths"+el.id);
    														}

    														if (map.getSource("paths"+el.id)) {
    				    										map.removeSource("paths"+el.id);
    														}
                                                        })

                                                        popups.push(popup);
                                            		});
                                				}
                            				}
                                        }, true);

                        				// make a marker for each feature and add to the map
                        				var marker = new mapboxgl.Marker(el)
                          				.setLngLat(e.lngLat)
                          				.addTo(map);

                        				markers.push(marker);
                        				targetId = targetId + 1;

                        				document.getElementById('sourceNode'+is).value = str;
                        				sources.push(coord) 

                				}
                    			else if(document.getElementById('inputTarget').value == "") {
                    				//add marker
                                    // create a HTML element for each feature
                        				var el = document.createElement('div');
                        				el.className = 'marker_target';
                        				el.style.right = '-5px';
                                      	el.style.top = '-12px';
                                      	el.setAttribute("id", targetId);

                                      	el.addEventListener('click', e => {
                                            e.stopPropagation();
                                            //functions
                                            console.log("marker" + el.id + " clicked");

                                            if (map.getLayer("rr_layer")) {
                                        		if (!map.getLayer("paths"+el.id)) {
                                        			var path_data = {"location_type": "target", "id": el.id}
                                        			$.post("path", JSON.stringify(path_data) , function(res){
                                    					//console.log(marker_id)
    													var geom = res["path_geom"];
    													var tt_public = res["tt_public"];
                                    	                var tt_private = res["tt_private"];
    													
                                    	                console.log(tt_public, tt_private);

    													var html = '<font color="blue">' + tt_public + ' min </font><br><font color="red">' + tt_private + ' min </font>'
                                    	                var popup = new mapboxgl.Popup({closeOnClick: false, anchor: 'top'})
                                                        .setLngLat({lat:latitude, lng: longitude})
                                                        .setHTML(html)
                                                        .addTo(map);

                                    	                addPathLayer(el.id, geom);

                                    	                popup.on('close', function(e) {
                                                            console.log("popup closed")
                                                            
                                                            if (map.getLayer("paths"+el.id)) {
    				    										map.removeLayer("paths"+el.id);
    														}

    														if (map.getSource("paths"+el.id)) {
    				    										map.removeSource("paths"+el.id);
    														}	
                                                        })

                                                        popups.push(popup);
                                            		});
                                				}
                            				}
                                        }, true);

                        				// make a marker for each feature and add to the map
                        				var marker = new mapboxgl.Marker(el)
                          				.setLngLat(e.lngLat)
                          				.addTo(map);

                        				markers.push(marker); 
                        				targetId = targetId + 1;  

                        				document.getElementById('inputTarget').value = str; 

                        				//if(!document.getElementById('sourceNode1') || (document.getElementById('sourceNode1') && document.getElementById('sourceNode1').value == "")) {
                        					var new_target = document.getElementById ( "new_target" ) ;
                            				new_target.style.display = "inline" ;
                            			//}
                        				targets.push(coord) 


                				}
    							else if(document.getElementById('targetNode'+it) && document.getElementById('targetNode'+it).value == "") {
                    				//add marker
                                    // create a HTML element for each feature
                        				var el = document.createElement('div');
                        				el.className = 'marker_target';
                        				el.style.right = '-5px';
                                      	el.style.top = '-12px';
                                      	el.setAttribute("id", targetId);

                                      	el.addEventListener('click', e => {
                                            e.stopPropagation();
                                            //functions
                                            console.log("marker" + el.id + " clicked");
                                            
                                            if (map.getLayer("rr_layer")) {
                                        		if (!map.getLayer("paths"+el.id)) {
                                        			var path_data = {"location_type": "target", "id": el.id}
                                        			$.post("path", JSON.stringify(path_data) , function(res){
                                    					//console.log(marker_id)
    													var geom = res["path_geom"];
    													var tt_public = res["tt_public"];
                                    	                var tt_private = res["tt_private"];
    													
                                    	                console.log(tt_public, tt_private);

    													var html = '<font color="blue">' + tt_public + ' min </font><br><font color="red">' + tt_private + ' min </font>'
                                    	                var popup = new mapboxgl.Popup({closeOnClick: false, anchor: 'top'})
                                                        .setLngLat({lat:latitude, lng: longitude})
                                                        .setHTML(html)
                                                        .addTo(map);

                                    	                addPathLayer(el.id, geom);

                                    	                popup.on('close', function(e) {
                                                            console.log("popup closed")
                                                            if (map.getLayer("paths"+el.id)) {
    				    										map.removeLayer("paths"+el.id);
    														}

    														if (map.getSource("paths"+el.id)) {
    				    										map.removeSource("paths"+el.id);
    														}
                                                        })

                                                        popups.push(popup);
                                            		});
                                				}
                            				}
                                        }, true);

                        				// make a marker for each feature and add to the map
                        				var marker = new mapboxgl.Marker(el)
                          				.setLngLat(e.lngLat)
                          				.addTo(map);

                        				markers.push(marker);
                        				targetId = targetId + 1;

                        				document.getElementById('targetNode'+it).value = str;
                        				targets.push(coord)  

                				}
                				
                			//}else{
                			//	console.log("True")
                    		//}
                        }
                        prevent = false;
                    }, delay);
                    markerActivated = false;
                }
            	
              

            });

            map.on("dblclick", function() {
                clearTimeout(timer);
                prevent = true;
                map.zoomIn();
            });

            function addMarker(location){
                console.log("activating marker")
            	markerActivated = true;
            }

            function addPolygon(location){
                addPolygonLocation(location, map)
            }
            /*var currentPolygon = null;

            const STYLES_DRAW = [
                {
                    "id": "gl-draw-polygon-fill",
                    "type": "fill",
                    "filter": ["all", ["==", "$type", "Polygon"], ["!=", "mode", "static"]],
                    "paint": {
                        "fill-color": "#FFD300",
                        "fill-outline-color": "#FDA50F",
                        "fill-opacity": 0.2
                    }
                }
            ]
            function addPolygon(location){
            	currentPolygon = location
            	if (location == "source" && polygon_source_coords!= null){
                	alert("Source polygon has already been drawn!")
                	return
                }
            	if (location == "target" && polygon_target_coords!= null){
                	alert("Target polygon has already been drawn!")
                	return
                }
                if(!draw){
                	draw = new MapboxDraw({
    					displayControlsDefault: false,
    					controls: {
    					}
    				});
    				map.addControl(draw);

    				draw.changeMode('draw_polygon');

    				map.on('draw.create', updateArea);
    				map.on('draw.delete', updateArea);
    				map.on('draw.update', updateArea);
                }else{
                	draw.changeMode('draw_polygon');
                }
               
            }

            function updateArea(e) {
				if (e.type == 'draw.create' || e.type == 'draw.update'){
					console.log("Updating source")
					var data = draw.getAll();
					console.log(data);
					console.log(data.features);
					//console.log(data.features[0].geometry.coordinates);
					var len = data.features.length;
					if(currentPolygon == "source"){
						polygon_source_coords = data.features[len-1].geometry.coordinates;
						console.log(polygon_source_coords);
						if(document.getElementById('inputSource').value == "") {
							document.getElementById('inputSource').value = "Polygon drawn"
						}
					}else{
						polygon_target_coords = data.features[len-1].geometry.coordinates;
						console.log(polygon_target_coords);
						if(document.getElementById('inputTarget').value == "") {
							document.getElementById('inputTarget').value = "Polygon drawn"
						}
					}
					
            	}else if (e.type == 'draw.delete'){
            		polygon_source_coords = null;
            		polygon_target_coords = null;
            	}
				
			}

            function updateAreaTarget(e) {
				if (e.type == 'draw.create' || e.type == 'draw.update'){
					console.log("Updating target")
					var data = draw_target.getAll();
					console.log(data);
					console.log(data.features);
					//console.log(data.features[0].geometry.coordinates);
					polygon_target_coords = data.features[0].geometry.coordinates;
					console.log(polygon_target_coords);
            	}else if (e.type == 'draw.delete'){
            		polygon_target_coords = null;
            	}
				
			}*/

            function addSource() {

            	if(document.getElementById('sourceNode'+is) && document.getElementById('sourceNode'+is).value == ""){
            		alert("Select source before adding a new one."); 
                }else{
                	//Create an input type dynamically.
                	var element = document.createElement("input");

                	//Assign different attributes to the element.
                	element.setAttribute("type", "text");
                	element.setAttribute("value", "");
                	element.setAttribute("class", "input-text");

                	is = is + 1
                	element.id = "sourceNode" + is
                	//element.style.display = "block";
                	element.style.marginRight = "9px";
                	element.style.marginLeft = "35.3px";
                	element.style.marginTop = "10px";

                	var parent = document.getElementById("input_source");
                	
                	parent.appendChild(element);

                	var marker = document.getElementById("marker-button-source");
                	marker.style.marginRight = "5px";
                	parent.appendChild(marker); 
                	var polygon = document.getElementById("polygon-button-source");
                	polygon.style.marginRight = "5px";
                	parent.appendChild(polygon); 
                	var neig = document.getElementById("neig-button-source");
                	neig.style.marginRight = "5px";
                	parent.appendChild(neig); 
                	parent.appendChild(document.getElementById("new_source"));
                	 

                	//var new_target = document.getElementById ( "new_target" ) ;
    				//new_target.style.display = "none" ;
                }
            	

            }
            
            function addTarget() {
            	if(document.getElementById('targetNode'+it) && document.getElementById('targetNode'+it).value == ""){
            		alert("Select target before adding a new one."); 
                }else{
                	//Create an input type dynamically.
                	var element = document.createElement("input");

                	//Assign different attributes to the element.
                	element.setAttribute("type", "text");
                	element.setAttribute("value", "");
                	element.setAttribute("class", "input-text");
                	it = it + 1
                	element.id = "targetNode" + it
                	//element.style.display = "block";
                	element.style.marginRight = "9px";
                	element.style.marginLeft = "35.3px";
                	element.style.marginTop = "10px";


                	// 'foobar' is the div id, where new fields are to be added
                	var parent = document.getElementById("input_target");
                	
                	parent.appendChild(element);

                	var marker = document.getElementById("marker-button-target");
                	marker.style.marginRight = "5px";
                	parent.appendChild(marker); 
                	var polygon = document.getElementById("polygon-button-target");
                	polygon.style.marginRight = "5px";
                	parent.appendChild(polygon); 
                	var neig = document.getElementById("neig-button-target");
                	neig.style.marginRight = "5px";
                	parent.appendChild(neig); 
                	
                	parent.appendChild(document.getElementById("new_target"));

                	//var new_source = document.getElementById ( "new_source" ) ;
    				//new_source.style.display = "none" ;
                }

            }


            function departure(selectedValue) {
                console.log(selectedValue)
                if(selectedValue == "later"){
                	var picker = document.getElementById ( "dateTimePicker" ) ;
                	picker.style.display = "inline" ;
                	picker.setAttribute("class", "calendar-text");
                	$("#dateTimePicker").flatpickr({
                		enableTime: true,
                		dateFormat: "F, d Y H:i",
                		defaultDate: new Date().getTime(),
                		onChange: function(selectedDates, dateStr, instance) {
                            selectedDates.forEach(function (date){
            					//console.log(date)
                                //console.log(date.getFullYear(), date.getDate(), date.getMonth(), date.getTime());
                                timestamp = date.getTime()
                                //console.log(timestamp)
                            })
                        }
            		});
                }
                if(selectedValue == "now"){
                	var picker = document.getElementById ( "dateTimePicker" ) ;
                	picker.style.display = "none" ;
                	timestamp = new Date().getTime()
                }
            }

            function clearFields() {
                console.log("clearing map")
            	document.getElementById('inputSource').value = "";
            	document.getElementById('inputTarget').value = "";

            	var j;

            	console.log(popups.length)
            	for (j = 0; j < markers.length; j++) {
            		markers[j].remove();
            	}

            	for (j = 0; j < popups.length; j++) {
            		if (popups[j]){
            			if (popups[j].isOpen()){
            				popups[j].remove();
            				console.log("removing popup:" + j)
                		}
                	}
            	}
            	

            	for (j = 1; j <= it ; j++) {
            		var element = document.getElementById("targetNode" + j);
                	element.parentNode.removeChild(element);
            	}

            	for (j = 1; j <= is ; j++) {
            		var element = document.getElementById("sourceNode" + j);
                	element.parentNode.removeChild(element);
            	}

            	var parent_source = document.getElementById("source_add");
            	var marker_source = document.getElementById ("marker-button-source");
            	marker_source.parentNode.removeChild(marker_source);
            	var polygon_source = document.getElementById ("polygon-button-source");
            	polygon_source.parentNode.removeChild(polygon_source);
            	var neig_source = document.getElementById ("neig-button-source");
            	neig_source.parentNode.removeChild(neig_source);
            	var new_source = document.getElementById ("new_source") ;
            	new_source.parentNode.removeChild(new_source);
            	
            	new_source.style.display = "none" ;
            	marker_source.style.marginRight = "5px";
            	polygon_source.style.marginRight = "5px";
            	neig_source.style.marginRight = "5px";
            	parent_source.appendChild(marker_source);
            	parent_source.appendChild(polygon_source);
            	parent_source.appendChild(neig_source);
            	parent_source.appendChild(new_source);
            	

            	var parent_target = document.getElementById("target_add");
            	var marker_target = document.getElementById ("marker-button-target");
            	marker_target.parentNode.removeChild(marker_target);
            	var polygon_target = document.getElementById ("polygon-button-target");
            	polygon_target.parentNode.removeChild(polygon_target);
            	var neig_target = document.getElementById ("neig-button-target");
            	neig_target.parentNode.removeChild(neig_target);
            	var new_target = document.getElementById ("new_target") ;
            	new_target.parentNode.removeChild(new_target);
            	
            	new_target.style.display = "none" ;
            	marker_target.style.marginRight = "5px";
            	polygon_target.style.marginRight = "5px";
            	neig_target.style.marginRight = "5px";
            	parent_target.appendChild(marker_target);
            	parent_target.appendChild(polygon_target);
            	parent_target.appendChild(neig_target);
            	parent_target.appendChild(new_target);            	
				

				if (map.getLayer("rr_layer")) {
				    map.removeLayer("rr_layer");
				}

				if (map.getSource("rr_layer")) {
				    map.removeSource("rr_layer");
				}

				var picker = document.getElementById ( "dateTimePicker" ) ;
            	picker.style.display = "none" ;

            	$("#select_departure").val('now');

            	if (draw){
            		draw.deleteAll();
            		map.removeControl(draw);
            		draw = null;
                }

				timestamp = -1;
				is = 0;
				it = 0;
				targetId = 0;
            	
            	sources = []
            	targets = []
            	markers = []
            	popups = []

            	markerActivated = false;
            	polygon_source_coords = null;
            	polygon_target_coords = null;
            }

            function clearResults() {
                console.log("clearing results")

            	var j;
                console.log(popups.length)
            	for (j = 0; j < popups.length; j++) {
            		if (map.getLayer("paths"+j)) {
            			map.removeLayer("paths"+ j);
                    	map.removeSource("paths"+ j);
            		}
            		console.log(popups[j])
            		if (popups[j]){
            			if (popups[j].isOpen()){
            				popups[j].remove();
            				console.log("removing popup:" + j)
                		}
                	}
            	}

				if (map.getLayer("rr_layer")) {
				    map.removeLayer("rr_layer");
				}

				if (map.getSource("rr_layer")) {
				    map.removeSource("rr_layer");
				}

            	popups = []
            }

            function getResults() {
            	//console.log(sources.length, targets.length) 
            	clearResults();
            	if((sources.length == 0 && !polygon_source_coords ) || (targets.length == 0 && !polygon_target_coords )) {
            		alert("Some coordinates are missing."); 
               	}
               	else {
               		removed_routes = getRemovedRoutes(routes);
               		removed_stops = getRemovedStops(routes, stops);
            		// ajax the JSON to the server
            		now = false;
            		if(timestamp==-1){
            			timestamp = new Date().getTime();
            			now = true;
                	}
            		console.log(timestamp)
            		var data_input = {"sources": sources, "targets":targets, "timestamp":timestamp, "polygon_source_coords":polygon_source_coords,
                		"polygon_target_coords": polygon_target_coords, "removed_routes": removed_routes, "removed_stops": removed_stops, 
                		"selected_neighborhoods": null}

            		if(now){
            			timestamp = -1
                	}
					
            		$.post("receiver", JSON.stringify(data_input) , function(res){
						//console.log(res)
						//console.log(res[1])
						//console.log(res["markers"])
						//console.log(res.features[0].properties)
						
		                map.addLayer({
		                    "id": "rr_layer",
		                    "type": "circle",
		                    "source": {
			                    "type": "geojson",
			                    "data": res
			                },
		                    'paint': {
		                    	'circle-radius': 8,
		                    	// color circles by rr
		                    	// https://docs.mapbox.com/mapbox-gl-js/style-spec/#expressions-match
		                    	//'circle-color': [
								//	'match',
								//	['get', 'marker-color'],
								//	"r", '#ff0000',
								//	"b", '#0000FF',
								//	/* other */ '#ccc'
								//]
		                    	'circle-color': [
		                    		'interpolate',
		                    		['linear'],
		                    		['get', 'marker-color'],
		                    		0, '#ff0000',
		                    		1, '#0000FF'
		                    	]
			                   	//getColorGradient("#FF0000", "#0000FF", ['get', 'marker-color'])
		                    }
		                });
	
            		}); 
               	}        
            }

            function addPathLayer(marker_id, geom){
            	map.addLayer({
                    "id": "paths"+marker_id,
                    "type": "line",
                    "source": {
	                    "type": "geojson",
	                    "data": geom
	                },
	                "layout": {
                        "line-join": "round",
                        "line-cap": "round"
                    },
                    'paint': {
                    	"line-width": 6,
                    	// color routes by type
                    	// https://docs.mapbox.com/mapbox-gl-js/style-spec/#expressions-match
                    	'line-color': [
							'match',
							['get', 'line-color'],
							"r", '#ff0000',
							"b", '#0000FF',
							/* other */ '#ccc'
						]
                    }
                });
            }

        </script>
		
	<script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/flatpickr.js"></script>
	
    </body>
</html>