<html>
    <head>
        <meta charset='utf-8' />
        <title>Relative Reachability - TEST</title>
        <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
        <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.js'></script>
		<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.css' rel='stylesheet' />
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/flatpickr.css">
        
        <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.0.9/mapbox-gl-draw.js'></script>
		<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.0.9/mapbox-gl-draw.css' type='text/css' />
		
		<script type="text/javascript" src="static/js/color_gradient.js?1"></script>
        
        
        <style>
            body { margin:0; padding:0; }
            #map { position:absolute; top:0; bottom:0; width: 80%; }
            .marker {
    			border: none;
    			cursor: pointer;
    			height: 32px;
    			width: 32px;
    			background-image: url(static/marker.png);
    			background-color: rgba(0, 0, 0, 0);
    			transform: translate(28px, 56px, 0);
			}
			.marker_source {
    			border: none;
    			cursor: pointer;
    			height: 40px;
    			width: 40px;
    			background-image: url(static/marker-40-orange.png);
    			background-color: rgba(0, 0, 0, 0);
    			transform: translate(28px, 56px, 0);
			}
			.marker_target {
    			border: none;
    			cursor: pointer;
    			height: 40px;
    			width: 40px;
    			background-image: url(static/marker-40-green.png);
    			background-color: rgba(0, 0, 0, 0);
    			transform: translate(28px, 56px, 0);
			}
			.container{
    			height: 100%;
    			display: -webkit-flex;
    			display: flex;
    			-webkit-flex-direction: row;
    			flex-direction: row;
			}
			.fixed{
    			width: 20%;
    			min-width: 360px;
			}
			.flex-item{
    			flex-grow: 1;
			}
			.flatpickr-calendar{
				font-size: 12px;
			}
			
			.button-image img {
    			display: block;
    			height: 16px;  
    			width: 16px;
			}
			
			.button-marker {
				background-color: white;
  				color: white;
  				padding: 4px;
  				text-align: center;
  				text-decoration: none;
  				display: inline-block;
  				cursor: pointer;
  				border-radius: 6px;
  				border: 1px solid #A0A0A0;
  				position: relative;
  				margin-right: 1px;
  				vertical-align:middle;
			}
			
			.button-add {
				background-color: #007CE2;
				color: white;
				font-weight: bold;
				font-size: 18px;
  				padding: 4px;
  				text-align: center;
    			line-height: 3px;
  				text-decoration: none;
  				display: inline;
  				cursor: pointer;
  				border-radius: 6px;
  				border: 1px solid #A0A0A0;
  				margin-left: 3px;
  				height: 26px;  
    			width: 26px;
    			position: relative;
    			vertical-align:middle;
    			
			}
			
			.button-clear {
				background-color: #e7e7e7;
  				padding: 4px;
  				text-align: center;
  				text-decoration: none;
  				display: inline-block;
  				cursor: pointer;
  				border: 1px solid #A0A0A0;
  				position: relative;
  				top:3px; 
  				margin-right: 5px;
  				margin-left: 5px;
			}
			
			.dropdown {
				background-color: #e7e7e7;
  				text-align: center;
  				text-decoration: none;
  				display: inline-block;
  				cursor: pointer;
  				border: 1px solid #A0A0A0;
  				position: relative;
  				top:3px; 
  				margin-right: 5px;
  				padding: 1px;
  				margin-left: 5px;
			}
			
			.button-results {
				background-color: #007CE2;
				color: white;
  				padding: 4px;
  				text-align: center;
  				text-decoration: none;
  				display: inline-block;
  				cursor: pointer;
  				border: 1px solid #A0A0A0;
  				position: relative;
  				top:3px; 
			}
			
			.input-text{
				text-align: left;
				height:24px;
				margin-right:4px;
				position: relative;
			}
			
			.calendar-text{
				text-align: left;
				height:24px;
				margin-right:4px;
				position: relative;
  				top:3px; 
			}
			
			/* Remove default bullets */
			ul, #list_routes {
  				list-style-type: none;
			}

			/* Remove margins and padding from the parent ul */
			#list_routes {
  				margin: 5px;
  				padding: 0;
			}

			/* Style the caret/arrow */
			.caret {
  				cursor: pointer;
  				user-select: none; /* Prevent text selection */
			}

			/* Create the caret/arrow with a unicode, and style it */
			.caret::before {
  				content: "\25B6";
  				color: #007CE2;
  				display: inline-block;
  				margin-right: 6px;
			}

			/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
			.caret-down::before {
  				transform: rotate(90deg);
			}

			/* Hide the nested list */
			.nested {
  				display: none;
			}

			/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
			.active {
  				display: block;
			}
			
			.checkbox_list_parent {
  				vertical-align: middle;
  				float: right;
			}
			
			.checkbox_list {
  				vertical-align: middle;
  				display:inline;
  				float: right;

        </style>
    </head>
    <body>
    <div class="container">
    	<div id="slidemenu" class = "fixed">
			<div class="input" id="input_frame" style="margin: 5px;">
				<h4>Choose points from the map</h4>
				
				<div class="input" id="source_add">
				<div style="display: inline-block;" >
					<img src="static/letter_s.png?2"  style="position:relative; top:10px"> 
				</div>
				<input type="text" id="inputSource" value="" class="input-text" readonly>
				<button id="marker-button-source" class="button-image button-marker" onClick="addMarker('source')"><img src="static/marker-orange.png"></button>
				<button id="polygon-button-source" class="button-image button-marker" onClick="addPolygon('source')"><img src="static/polygon.png"></button>
				<button id="neig-button-source" class=" button-image button-marker" onClick="addNeighborhood('source')"><img src="static/images.png"></button>
				<button id="new_source" class="button-add" value="Add" onClick="addSource()" style="display:none;">+</button>
				</div>
				<div class="input" id="input_source"></div>
				<br>
				
				
				<div class="input" id="target_add">
				<div style="display: inline-block;" >
					<img src="static/letter_d.png"  style="position:relative; top:10px"> 
				</div> 
				<input type="text" id="inputTarget" value="" class="input-text" readonly> 
				<button id="marker-button-target" class="button-image button-marker" onClick="addMarker('target')"><img src="static/marker-orange.png"></button>
				<button id="polygon-button-target" class="button-image button-marker" onClick="addPolygon('target')"><img src="static/polygon.png"></button>
				<button id="neig-button-target" class=" button-image button-marker" onClick="addNeighborhood('target')"><img src="static/images.png"></button>
				<button  id="new_target" class="button-add" value="Add" onClick="addTarget()" style="display:none;">+</button>
				</div>
				<div class="input" id="input_target"></div>
				<br><br>
				<div id="routes_list_div" style="width: 200px;">
					<ul id="list_routes">
					</ul>
				</div>
				<br><br>
                <select id="select_departure" onchange="departure(this.value)" class="dropdown">
  					<option value="now">Leave now</option>
  					<option value="later">Depart at</option>
				</select>
				<input type="text" style="display:none;" id="dateTimePicker" placeholder="Please select Date Time" data-input>
				<br><br>
				<button class="button-clear" id="clear_button" onClick="clearFields()">Clear</button> <button class="button-results" id="getResults" onClick="getResults()">Get Directions</button>
			</div>

		</div>
		
        <div data-role="page" id="main_page" data-theme="a" class = "flex-item">
			<div class="map_container" data-role="content">
				<div id="map"></div>
				<div class="shadow"></div>
			</div>
		</div>
	</div>
	
        <script>

      		//console.log(getColorGradient("#FF0000", "#0000FF", 0))
        	
            mapboxgl.accessToken = '{{ ACCESS_KEY }}';
            var map = new mapboxgl.Map({
                container: 'map',
                style: 'mapbox://styles/mapbox/streets-v9',
                center: [13.4050, 52.5200],
                zoom: 12
            });
            //map.scrollZoom.disable();
            // Add zoom and rotation controls to the map.
			map.addControl(new mapboxgl.NavigationControl());

            map.on('load', function () {
                
            });

            map.on('error', e => {
                // Hide those annoying non-error errors
                if (e && e.error !== 'Error: Not Found')
                    console.error(e);
            });

            routes = {{routes|safe}}

            for (var trans_type in routes) {
            	//console.log(child);
            	buildRouteList(trans_type, routes[trans_type]);
        	}

        	function buildRouteList(trans_type, routes){

            	var list = document.getElementById('list_routes');
            	
            	var entry = document.createElement('li');
        	    var span = document.createElement('span');
        	    span.classList.add('caret');
        	    entry.appendChild(span);
        	    entry.appendChild(document.createTextNode(trans_type));
        	    var checkbox = document.createElement("INPUT");
        	    checkbox.setAttribute("type", "checkbox");
        	    checkbox.setAttribute("id", "c" + trans_type);
        	    checkbox.classList.add('checkbox_list_parent');
        	    checkbox.checked = true;
        	    entry.appendChild(checkbox);
        	    entry.setAttribute("id", "n"+ trans_type);
        	    list.appendChild(entry);

        	    var entry_ul = document.createElement('ul');
        	    entry_ul.classList.add('nested');
        	    entry_ul.setAttribute("id", "ul_"+trans_type);
        	    entry_ul.style.width = "80px";
        	    //entry_ul.style.float = "right";
        	    entry.appendChild(entry_ul);

        	    for (var route in routes) {
        	    	var entry_child = document.createElement('li');
        	    	entry_child.appendChild(document.createTextNode(route));
            	    var checkbox = document.createElement("INPUT");
            	    checkbox.setAttribute("type", "checkbox");
            	    checkbox.setAttribute("id", routes[route]);
            	    checkbox.classList.add('checkbox_list');
            	    checkbox.checked = true;
            	    entry_child.appendChild(checkbox);
            	    entry_child.setAttribute("id", "l" + routes[route]);
            	    entry_child.style.overflow = "hidden";
            	    entry_ul.appendChild(entry_child);
        	    }

            }

            var toggler = document.getElementsByClassName("caret");
            var i;

            for (i = 0; i < toggler.length; i++) {
              //console.log(toggler[i])
              toggler[i].addEventListener("click", function() {
                this.parentElement.querySelector(".nested").classList.toggle("active");
                this.classList.toggle("caret-down");
              });
            }

            const checkboxes = document.getElementsByClassName("checkbox_list");
            //console.log(checkboxes);
            for (i = 0; i < checkboxes.length; i++) {
            	checkboxes[i].addEventListener("change", function() {
                	var route_id = this.id; 
                	if(this.checked) {
                        console.log(this.id + " checked")
                        var route_data = {"route_id": route_id}
            			$.post("route", JSON.stringify(route_data) , function(res){
							console.log(res)
							route_geom = res["route_geom"]
							console.log(route_geom)
            				addRouteLayer(route_id, route_geom);
                		});
                           
                    } else {
                        // Checkbox is not checked..
                    	console.log(this.id + " unchecked")

                    	if (map.getLayer("route_"+ this.id)) {
							map.removeLayer("route_"+ this.id);
						}

						if (map.getSource("route_"+ this.id)) {
							map.removeSource("route_"+ this.id);
						}
                    }
                });
            }

            
            var targets = [];
            var sources = [];
            
            var timer = 0;
            var delay = 250;
            var prevent = false;

            var timestamp = -1;

            var it = 0;
            var is = 0;
            var targetId = 0;
            var sourceId = 0;

            var markers = []
            var popups = []

            var markerActivated = false;

            var polygon_source_coords = null;
            var polygon_target_coords = null;
            var draw = null;
            
            map.on('click', function(e) {
                if (markerActivated){
                	timer = setTimeout(function() {
                        if (!prevent) {
                        	var latitude = e.lngLat.lat;
                            var longitude = e.lngLat.lng;
                            //doWork()
                            
    						var str = Number((latitude).toFixed(6)) + "," + Number((longitude).toFixed(6));

    						var coord = { lat:latitude, lon:longitude }
    						console.log(coord.lat)
    			
                            console.log(str)
                            
                            //if(document.getElementById('inputSource').hidden == false) { 
                            	if(document.getElementById('inputSource').value == "") {
                    				//add marker
                                    // create a HTML element for each feature
                					
                        			var el = document.createElement('div');
                        			el.className = 'marker_source';
                        			el.style.right = '-5px';
                                    el.style.top = '-12px';

                                    el.addEventListener('click', e => {
                                        e.stopPropagation();
                                        //functions
                                        console.log("source" + " clicked")
                                        
                                        var popup = new mapboxgl.Popup({closeOnClick: false, anchor: 'top'})
                                        .setLngLat({lat:latitude, lng: longitude})
                                        .setHTML("<strong>source</strong>")
                                        .addTo(map);

                                        popup.on('close', function(e) {
                                            console.log("popup closed")
                                        })

                                        popups.push(popup);
                                        
                                    }, true);

                        			// make a marker for each feature and add to the map
                        			var marker = new mapboxgl.Marker(el)
                          				.setLngLat(e.lngLat)
                          				.addTo(map);
                      				
                          			markers.push(marker);

                          			document.getElementById('inputSource').value = str;

                          			//if(!document.getElementById('targetNode1') || (document.getElementById('targetNode1') && document.getElementById('targetNode1').value == "")) {
                          				var new_source = document.getElementById ( "new_source" ) ;
                              			new_source.style.display = "inline" ;
                          			//}

                              		sources.push(coord)
                					
                    			}
                            	else if(document.getElementById('sourceNode'+is) && document.getElementById('sourceNode'+is).value == "") {
                    				//add marker
                                    // create a HTML element for each feature
                        				var el = document.createElement('div');
                        				el.className = 'marker_source';
                        				el.style.right = '-5px';
                                      	el.style.top = '-12px';
                                      	el.setAttribute("id", targetId);

                                      	el.addEventListener('click', e => {
                                            e.stopPropagation();
                                            //functions
                                            console.log("marker" + el.id + " clicked");
                                            
                                            if (map.getLayer("rr_layer")) {
                                        		if (!map.getLayer("paths"+el.id)) {
                                            		var path_data = {"location_type": "source", "id": el.id}
                                        			$.post("path", JSON.stringify(path_data) , function(res){
                                    					//console.log(marker_id)
    													var geom = res["path_geom"];
    													var tt_public = res["tt_public"];
                                    	                var tt_private = res["tt_private"];
    													
                                    	                console.log(tt_public, tt_private);

    													var html = '<font color="blue">' + tt_public + ' min </font><br><font color="red">' + tt_private + ' min </font>'
                                    	                var popup = new mapboxgl.Popup({closeOnClick: false, anchor: 'top'})
                                                        .setLngLat({lat:latitude, lng: longitude})
                                                        .setHTML(html)
                                                        .addTo(map);

                                    	                addPathLayer(el.id, geom);

                                    	                popup.on('close', function(e) {
                                                            console.log("popup closed")
                                                            if (map.getLayer("paths"+el.id)) {
    				    										map.removeLayer("paths"+el.id);
    														}

    														if (map.getSource("paths"+el.id)) {
    				    										map.removeSource("paths"+el.id);
    														}
                                                        })

                                                        popups.push(popup);
                                            		});
                                				}
                            				}
                                        }, true);

                        				// make a marker for each feature and add to the map
                        				var marker = new mapboxgl.Marker(el)
                          				.setLngLat(e.lngLat)
                          				.addTo(map);

                        				markers.push(marker);
                        				targetId = targetId + 1;

                        				document.getElementById('sourceNode'+is).value = str;
                        				sources.push(coord) 

                				}
                    			else if(document.getElementById('inputTarget').value == "") {
                    				//add marker
                                    // create a HTML element for each feature
                        				var el = document.createElement('div');
                        				el.className = 'marker_target';
                        				el.style.right = '-5px';
                                      	el.style.top = '-12px';
                                      	el.setAttribute("id", targetId);

                                      	el.addEventListener('click', e => {
                                            e.stopPropagation();
                                            //functions
                                            console.log("marker" + el.id + " clicked");

                                            if (map.getLayer("rr_layer")) {
                                        		if (!map.getLayer("paths"+el.id)) {
                                        			var path_data = {"location_type": "target", "id": el.id}
                                        			$.post("path", JSON.stringify(path_data) , function(res){
                                    					//console.log(marker_id)
    													var geom = res["path_geom"];
    													var tt_public = res["tt_public"];
                                    	                var tt_private = res["tt_private"];
    													
                                    	                console.log(tt_public, tt_private);

    													var html = '<font color="blue">' + tt_public + ' min </font><br><font color="red">' + tt_private + ' min </font>'
                                    	                var popup = new mapboxgl.Popup({closeOnClick: false, anchor: 'top'})
                                                        .setLngLat({lat:latitude, lng: longitude})
                                                        .setHTML(html)
                                                        .addTo(map);

                                    	                addPathLayer(el.id, geom);

                                    	                popup.on('close', function(e) {
                                                            console.log("popup closed")
                                                            
                                                            if (map.getLayer("paths"+el.id)) {
    				    										map.removeLayer("paths"+el.id);
    														}

    														if (map.getSource("paths"+el.id)) {
    				    										map.removeSource("paths"+el.id);
    														}	
                                                        })

                                                        popups.push(popup);
                                            		});
                                				}
                            				}
                                        }, true);

                        				// make a marker for each feature and add to the map
                        				var marker = new mapboxgl.Marker(el)
                          				.setLngLat(e.lngLat)
                          				.addTo(map);

                        				markers.push(marker); 
                        				targetId = targetId + 1;  

                        				document.getElementById('inputTarget').value = str; 

                        				//if(!document.getElementById('sourceNode1') || (document.getElementById('sourceNode1') && document.getElementById('sourceNode1').value == "")) {
                        					var new_target = document.getElementById ( "new_target" ) ;
                            				new_target.style.display = "inline" ;
                            			//}
                        				targets.push(coord) 


                				}
    							else if(document.getElementById('targetNode'+it) && document.getElementById('targetNode'+it).value == "") {
                    				//add marker
                                    // create a HTML element for each feature
                        				var el = document.createElement('div');
                        				el.className = 'marker_target';
                        				el.style.right = '-5px';
                                      	el.style.top = '-12px';
                                      	el.setAttribute("id", targetId);

                                      	el.addEventListener('click', e => {
                                            e.stopPropagation();
                                            //functions
                                            console.log("marker" + el.id + " clicked");
                                            
                                            if (map.getLayer("rr_layer")) {
                                        		if (!map.getLayer("paths"+el.id)) {
                                        			var path_data = {"location_type": "target", "id": el.id}
                                        			$.post("path", JSON.stringify(path_data) , function(res){
                                    					//console.log(marker_id)
    													var geom = res["path_geom"];
    													var tt_public = res["tt_public"];
                                    	                var tt_private = res["tt_private"];
    													
                                    	                console.log(tt_public, tt_private);

    													var html = '<font color="blue">' + tt_public + ' min </font><br><font color="red">' + tt_private + ' min </font>'
                                    	                var popup = new mapboxgl.Popup({closeOnClick: false, anchor: 'top'})
                                                        .setLngLat({lat:latitude, lng: longitude})
                                                        .setHTML(html)
                                                        .addTo(map);

                                    	                addPathLayer(el.id, geom);

                                    	                popup.on('close', function(e) {
                                                            console.log("popup closed")
                                                            if (map.getLayer("paths"+el.id)) {
    				    										map.removeLayer("paths"+el.id);
    														}

    														if (map.getSource("paths"+el.id)) {
    				    										map.removeSource("paths"+el.id);
    														}
                                                        })

                                                        popups.push(popup);
                                            		});
                                				}
                            				}
                                        }, true);

                        				// make a marker for each feature and add to the map
                        				var marker = new mapboxgl.Marker(el)
                          				.setLngLat(e.lngLat)
                          				.addTo(map);

                        				markers.push(marker);
                        				targetId = targetId + 1;

                        				document.getElementById('targetNode'+it).value = str;
                        				targets.push(coord)  

                				}
                				
                			//}else{
                			//	console.log("True")
                    		//}
                        }
                        prevent = false;
                    }, delay);
                    markerActivated = false;
                }
            	
              

            });

            map.on("dblclick", function() {
                clearTimeout(timer);
                prevent = true;
                map.zoomIn();
            });

            function addMarker(location){
                console.log("activating marker")
            	markerActivated = true;
            }

            var currentPolygon = null;

            const STYLES_DRAW = [
                {
                    "id": "gl-draw-polygon-fill",
                    "type": "fill",
                    "filter": ["all", ["==", "$type", "Polygon"], ["!=", "mode", "static"]],
                    "paint": {
                        "fill-color": "#FFD300",
                        "fill-outline-color": "#FDA50F",
                        "fill-opacity": 0.2
                    }
                }
            ]
            function addPolygon(location){
            	currentPolygon = location
            	if (location == "source" && polygon_source_coords!= null){
                	alert("Source polygon has already been drawn!")
                	return
                }
            	if (location == "target" && polygon_target_coords!= null){
                	alert("Target polygon has already been drawn!")
                	return
                }
                if(!draw){
                	draw = new MapboxDraw({
    					displayControlsDefault: false,
    					controls: {
    					}
    				});
    				map.addControl(draw);

    				draw.changeMode('draw_polygon');

    				map.on('draw.create', updateArea);
    				map.on('draw.delete', updateArea);
    				map.on('draw.update', updateArea);
                }else{
                	draw.changeMode('draw_polygon');
                }
               
            }

            function updateArea(e) {
				if (e.type == 'draw.create' || e.type == 'draw.update'){
					console.log("Updating source")
					var data = draw.getAll();
					console.log(data);
					console.log(data.features);
					//console.log(data.features[0].geometry.coordinates);
					var len = data.features.length;
					if(currentPolygon == "source"){
						polygon_source_coords = data.features[len-1].geometry.coordinates;
						console.log(polygon_source_coords);
						if(document.getElementById('inputSource').value == "") {
							document.getElementById('inputSource').value = "Polygon drawn"
						}
					}else{
						polygon_target_coords = data.features[len-1].geometry.coordinates;
						console.log(polygon_target_coords);
						if(document.getElementById('inputTarget').value == "") {
							document.getElementById('inputTarget').value = "Polygon drawn"
						}
					}
					
            	}else if (e.type == 'draw.delete'){
            		polygon_source_coords = null;
            		polygon_target_coords = null;
            	}
				
			}

            function updateAreaTarget(e) {
				if (e.type == 'draw.create' || e.type == 'draw.update'){
					console.log("Updating target")
					var data = draw_target.getAll();
					console.log(data);
					console.log(data.features);
					//console.log(data.features[0].geometry.coordinates);
					polygon_target_coords = data.features[0].geometry.coordinates;
					console.log(polygon_target_coords);
            	}else if (e.type == 'draw.delete'){
            		polygon_target_coords = null;
            	}
				
			}

            function addSource() {

            	if(document.getElementById('sourceNode'+is) && document.getElementById('sourceNode'+is).value == ""){
            		alert("Select source before adding a new one."); 
                }else{
                	//Create an input type dynamically.
                	var element = document.createElement("input");

                	//Assign different attributes to the element.
                	element.setAttribute("type", "text");
                	element.setAttribute("value", "");
                	element.setAttribute("class", "input-text");

                	is = is + 1
                	element.id = "sourceNode" + is
                	//element.style.display = "block";
                	element.style.marginRight = "9px";
                	element.style.marginLeft = "35.3px";
                	element.style.marginTop = "10px";

                	var parent = document.getElementById("input_source");
                	
                	parent.appendChild(element);

                	var marker = document.getElementById("marker-button-source");
                	marker.style.marginRight = "5px";
                	parent.appendChild(marker); 
                	var polygon = document.getElementById("polygon-button-source");
                	polygon.style.marginRight = "5px";
                	parent.appendChild(polygon); 
                	var neig = document.getElementById("neig-button-source");
                	neig.style.marginRight = "5px";
                	parent.appendChild(neig); 
                	parent.appendChild(document.getElementById("new_source"));
                	 

                	//var new_target = document.getElementById ( "new_target" ) ;
    				//new_target.style.display = "none" ;
                }
            	

            }
            
            function addTarget() {
            	if(document.getElementById('targetNode'+it) && document.getElementById('targetNode'+it).value == ""){
            		alert("Select target before adding a new one."); 
                }else{
                	//Create an input type dynamically.
                	var element = document.createElement("input");

                	//Assign different attributes to the element.
                	element.setAttribute("type", "text");
                	element.setAttribute("value", "");
                	element.setAttribute("class", "input-text");
                	it = it + 1
                	element.id = "targetNode" + it
                	//element.style.display = "block";
                	element.style.marginRight = "9px";
                	element.style.marginLeft = "35.3px";
                	element.style.marginTop = "10px";


                	// 'foobar' is the div id, where new fields are to be added
                	var parent = document.getElementById("input_target");
                	
                	parent.appendChild(element);

                	var marker = document.getElementById("marker-button-target");
                	marker.style.marginRight = "5px";
                	parent.appendChild(marker); 
                	var polygon = document.getElementById("polygon-button-target");
                	polygon.style.marginRight = "5px";
                	parent.appendChild(polygon); 
                	var neig = document.getElementById("neig-button-target");
                	neig.style.marginRight = "5px";
                	parent.appendChild(neig); 
                	
                	parent.appendChild(document.getElementById("new_target"));

                	//var new_source = document.getElementById ( "new_source" ) ;
    				//new_source.style.display = "none" ;
                }

            }


            function departure(selectedValue) {
                console.log(selectedValue)
                if(selectedValue == "later"){
                	var picker = document.getElementById ( "dateTimePicker" ) ;
                	picker.style.display = "inline" ;
                	picker.setAttribute("class", "calendar-text");
                	$("#dateTimePicker").flatpickr({
                		enableTime: true,
                		dateFormat: "F, d Y H:i",
                		defaultDate: new Date().getTime(),
                		onChange: function(selectedDates, dateStr, instance) {
                            selectedDates.forEach(function (date){
            					//console.log(date)
                                //console.log(date.getFullYear(), date.getDate(), date.getMonth(), date.getTime());
                                timestamp = date.getTime()
                                //console.log(timestamp)
                            })
                        }
            		});
                }
                if(selectedValue == "now"){
                	var picker = document.getElementById ( "dateTimePicker" ) ;
                	picker.style.display = "none" ;
                	timestamp = new Date().getTime()
                }
            }

            function clearFields() {
                console.log("clearing map")
            	document.getElementById('inputSource').value = "";
            	document.getElementById('inputTarget').value = "";

            	var j;

            	console.log(popups.length)
            	for (j = 0; j < markers.length; j++) {
            		markers[j].remove();
            	}

            	for (j = 0; j < popups.length; j++) {
            		if (popups[j]){
            			if (popups[j].isOpen()){
            				popups[j].remove();
            				console.log("removing popup:" + j)
                		}
                	}
            	}
            	

            	for (j = 1; j <= it ; j++) {
            		var element = document.getElementById("targetNode" + j);
                	element.parentNode.removeChild(element);
            	}

            	for (j = 1; j <= is ; j++) {
            		var element = document.getElementById("sourceNode" + j);
                	element.parentNode.removeChild(element);
            	}

            	var parent_source = document.getElementById("source_add");
            	var marker_source = document.getElementById ("marker-button-source");
            	marker_source.parentNode.removeChild(marker_source);
            	var polygon_source = document.getElementById ("polygon-button-source");
            	polygon_source.parentNode.removeChild(polygon_source);
            	var neig_source = document.getElementById ("neig-button-source");
            	neig_source.parentNode.removeChild(neig_source);
            	var new_source = document.getElementById ("new_source") ;
            	new_source.parentNode.removeChild(new_source);
            	
            	new_source.style.display = "none" ;
            	marker_source.style.marginRight = "5px";
            	polygon_source.style.marginRight = "5px";
            	neig_source.style.marginRight = "5px";
            	parent_source.appendChild(marker_source);
            	parent_source.appendChild(polygon_source);
            	parent_source.appendChild(neig_source);
            	parent_source.appendChild(new_source);
            	

            	var parent_target = document.getElementById("target_add");
            	var marker_target = document.getElementById ("marker-button-target");
            	marker_target.parentNode.removeChild(marker_target);
            	var polygon_target = document.getElementById ("polygon-button-target");
            	polygon_target.parentNode.removeChild(polygon_target);
            	var neig_target = document.getElementById ("neig-button-target");
            	neig_target.parentNode.removeChild(neig_target);
            	var new_target = document.getElementById ("new_target") ;
            	new_target.parentNode.removeChild(new_target);
            	
            	new_target.style.display = "none" ;
            	marker_target.style.marginRight = "5px";
            	polygon_target.style.marginRight = "5px";
            	neig_target.style.marginRight = "5px";
            	parent_target.appendChild(marker_target);
            	parent_target.appendChild(polygon_target);
            	parent_target.appendChild(neig_target);
            	parent_target.appendChild(new_target);            	
				

				if (map.getLayer("rr_layer")) {
				    map.removeLayer("rr_layer");
				}

				if (map.getSource("rr_layer")) {
				    map.removeSource("rr_layer");
				}

				var picker = document.getElementById ( "dateTimePicker" ) ;
            	picker.style.display = "none" ;

            	$("#select_departure").val('now');

            	if (draw){
            		draw.deleteAll();
            		map.removeControl(draw);
            		draw = null;
                }

				timestamp = -1;
				is = 0;
				it = 0;
				targetId = 0;
            	
            	sources = []
            	targets = []
            	markers = []
            	popups = []

            	markerActivated = false;
            	polygon_source_coords = null;
            	polygon_target_coords = null;
            }

            function clearResults() {
                console.log("clearing results")

            	var j;
                console.log(popups.length)
            	for (j = 0; j < popups.length; j++) {
            		if (map.getLayer("paths"+j)) {
            			map.removeLayer("paths"+ j);
                    	map.removeSource("paths"+ j);
            		}
            		console.log(popups[j])
            		if (popups[j]){
            			if (popups[j].isOpen()){
            				popups[j].remove();
            				console.log("removing popup:" + j)
                		}
                	}
            	}

				if (map.getLayer("rr_layer")) {
				    map.removeLayer("rr_layer");
				}

				if (map.getSource("rr_layer")) {
				    map.removeSource("rr_layer");
				}

            	popups = []
            }

            function getResults() {
            	//console.log(sources.length, targets.length) 
            	clearResults();
            	if((sources.length == 0 && !polygon_source_coords ) || (targets.length == 0 && !polygon_target_coords )) {
            		alert("Some coordinates are missing."); 
               	}
               	else {
               		var not_checked = document.querySelectorAll('input[class="checkbox_list"]:not(:checked)');
					var removed_routes = []               		
               		for(var i = 0; i < not_checked.length; i+=1){
                   		n = not_checked[i]
                   		removed_routes.push(n.id)
                   	}
                   	console.log(removed_routes)
            		// ajax the JSON to the server
            		if(timestamp==-1){
            			timestamp = new Date().getTime();
                	}
            		console.log(timestamp)
            		var data_input = {"sources": sources, "targets":targets, "timestamp":timestamp, "polygon_source_coords":polygon_source_coords,
                		"polygon_target_coords": polygon_target_coords, "removed_routes": removed_routes}

            		timestamp = -1
					
            		$.post("receiver", JSON.stringify(data_input) , function(res){
						//console.log(res)
						//console.log(res[1])
						//console.log(res["markers"])
						//console.log(res.features[0].properties)
						
		                map.addLayer({
		                    "id": "rr_layer",
		                    "type": "circle",
		                    "source": {
			                    "type": "geojson",
			                    "data": res
			                },
		                    'paint': {
		                    	'circle-radius': 8,
		                    	// color circles by rr
		                    	// https://docs.mapbox.com/mapbox-gl-js/style-spec/#expressions-match
		                    	//'circle-color': [
								//	'match',
								//	['get', 'marker-color'],
								//	"r", '#ff0000',
								//	"b", '#0000FF',
								//	/* other */ '#ccc'
								//]
		                    	'circle-color': [
		                    		'interpolate',
		                    		['linear'],
		                    		['get', 'marker-color'],
		                    		0, '#ff0000',
		                    		1, '#0000FF'
		                    	]
			                   	//getColorGradient("#FF0000", "#0000FF", ['get', 'marker-color'])
		                    }
		                });
	
            		}); 
               	}        
            }

            function addPathLayer(marker_id, geom){
            	map.addLayer({
                    "id": "paths"+marker_id,
                    "type": "line",
                    "source": {
	                    "type": "geojson",
	                    "data": geom
	                },
	                "layout": {
                        "line-join": "round",
                        "line-cap": "round"
                    },
                    'paint': {
                    	"line-width": 6,
                    	// color routes by type
                    	// https://docs.mapbox.com/mapbox-gl-js/style-spec/#expressions-match
                    	'line-color': [
							'match',
							['get', 'line-color'],
							"r", '#ff0000',
							"b", '#0000FF',
							/* other */ '#ccc'
						]
                    }
                });
            }

            function addRouteLayer(route_id, geom){
                console.log("Adding layer:" + route_id)
            	map.addLayer({
                    "id": "route_"+route_id,
                    "type": "line",
                    "source": {
	                    "type": "geojson",
	                    "data": geom
	                },
	                "layout": {
                        "line-join": "round",
                        "line-cap": "round"
                    },
                    'paint': {
                    	"line-width": 6,
                    	// color routes by type
                    	// https://docs.mapbox.com/mapbox-gl-js/style-spec/#expressions-match
                    	'line-color': getRandomColor()
                    }
                });
            }

            function getRandomColor() {
            	  var letters = '0123456789ABCDEF';
            	  var color = '#';
            	  for (var i = 0; i < 6; i++) {
            	    color += letters[Math.floor(Math.random() * 16)];
            	  }
            	  return color;
            }

        </script>
		
	<script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/flatpickr.js"></script>
	
    </body>
</html>