<html>
    <head>
        <meta charset='utf-8' />
        <title>Relative Reachability - TEST</title>
        <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
        <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.js'></script>
		<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.css' rel='stylesheet' />
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/flatpickr.css">
        
        
        <style>
            body { margin:0; padding:0; }
            #map { position:absolute; top:0; bottom:0; width: 70%; }
            .marker {
    			border: none;
    			cursor: pointer;
    			height: 32px;
    			width: 32px;
    			background-image: url(static/marker.png);
    			background-color: rgba(0, 0, 0, 0);
    			transform: translate(28px, 56px, 0);
			}
			.marker_source {
    			border: none;
    			cursor: pointer;
    			height: 32px;
    			width: 32px;
    			background-image: url(static/marker-orange.png);
    			background-color: rgba(0, 0, 0, 0);
    			transform: translate(28px, 56px, 0);
			}
			.marker_target {
    			border: none;
    			cursor: pointer;
    			height: 32px;
    			width: 32px;
    			background-image: url(static/marker-pink.png);
    			background-color: rgba(0, 0, 0, 0);
    			transform: translate(28px, 56px, 0);
			}
			.container{
    			height: 100vh;
    			display: -webkit-flex;
    			display: flex;
    			-webkit-flex-direction: row;
    			flex-direction: row;
			}
			.fixed{
    			width: 30%;
			}
			.flex-item{
    			flex-grow: 1;
			}
			.flatpickr-calendar{
				font-size: 12px;
			}
			
			.button-image img {
    			display: block;
    			height: 16px;  
    			width: 16px;
			}
			
			.button-marker {
				background-color: white;
  				color: white;
  				padding: 4px;
  				text-align: center;
  				text-decoration: none;
  				display: inline-block;
  				cursor: pointer;
  				border-radius: 6px;
  				border: 1px solid #A0A0A0;
  				position: relative;
  				margin-right: 1px;
  				vertical-align:middle;
			}
			
			.button-add {
				background-color: #007CE2;
				color: white;
				font-weight: bold;
				font-size: 18px;
  				padding: 4px;
  				text-align: center;
    			line-height: 3px;
  				text-decoration: none;
  				display: inline;
  				cursor: pointer;
  				border-radius: 6px;
  				border: 1px solid #A0A0A0;
  				margin-left: 3px;
  				height: 26px;  
    			width: 26px;
    			position: relative;
    			vertical-align:middle;
    			
			}
			
			.button-clear {
				background-color: #e7e7e7;
  				padding: 4px;
  				text-align: center;
  				text-decoration: none;
  				display: inline-block;
  				cursor: pointer;
  				border: 1px solid #A0A0A0;
  				position: relative;
  				top:3px; 
  				margin-right: 5px;
			}
			
			.dropdown {
				background-color: #e7e7e7;
  				text-align: center;
  				text-decoration: none;
  				display: inline-block;
  				cursor: pointer;
  				border: 1px solid #A0A0A0;
  				position: relative;
  				top:3px; 
  				margin-right: 5px;
  				padding: 1px;
			}
			
			.button-results {
				background-color: #007CE2;
				color: white;
  				padding: 4px;
  				text-align: center;
  				text-decoration: none;
  				display: inline-block;
  				cursor: pointer;
  				border: 1px solid #A0A0A0;
  				position: relative;
  				top:3px; 
			}
			
			.input-text{
				text-align: left;
				height:24px;
				margin-right:4px;
				position: relative;
			}
			
			.calendar-text{
				text-align: left;
				height:24px;
				margin-right:4px;
				position: relative;
  				top:3px; 
			}

        </style>
    </head>
    <body>
    <div class="container">
    	<div id="slidemenu" class = "fixed">
			<div class="input" id="input_frame">
				<h4>Choose points from the map</h4>
				
				<div class="input" id="source_add">
				<div style="display: inline-block;" >
					<img src="static/letter_a.png"  style="position:relative; top:10px"> 
				</div>
				<input type="text" id="inputSource" value="" class="input-text" readonly>
				<button id="marker-button-source" class="button-image button-marker" onClick="addMarker('source')"><img src="static/marker-orange.png"></button>
				<button id="polygon-button-source" class="button-image button-marker" onClick="addPolygon('source')"><img src="static/polygon.png"></button>
				<button id="neig-button-source" class=" button-image button-marker" onClick="addNeighborhood('source')"><img src="static/images.png"></button>
				<button id="new_source" class="button-add" value="Add" onClick="addSource()" style="display:none;">+</button>
				</div>
				<div class="input" id="input_source"></div>
				<br>
				
				
				<div class="input" id="target_add">
				<div style="display: inline-block;" >
					<img src="static/letter_b.png"  style="position:relative; top:10px"> 
				</div> 
				<input type="text" id="inputTarget" value="" class="input-text" readonly> 
				<button id="marker-button-target" class="button-image button-marker" onClick="addMarker('target')"><img src="static/marker-orange.png"></button>
				<button id="polygon-button-target" class="button-image button-marker" onClick="addPolygon('target')"><img src="static/polygon.png"></button>
				<button id="neig-button-target" class=" button-image button-marker" onClick="addNeighborhood('target')"><img src="static/images.png"></button>
				<button  id="new_target" class="button-add" value="Add" onClick="addTarget()" style="display:none;">+</button>
				</div>
				<div class="input" id="input_target"></div>
				<br>
                <select id="select_departure" onchange="departure(this.value)" class="dropdown">
  					<option value="now">Leave now</option>
  					<option value="later">Depart at</option>
				</select>
				<input type="text" style="display:none;" id="dateTimePicker" placeholder="Please select Date Time" data-input>
				<br><br>
				<button class="button-clear" id="clear_button" onClick="clearFields()">Clear</button> <button class="button-results" id="getResults" onClick="getResults()">Get Directions</button>
			</div>

		</div>
		
        <div data-role="page" id="main_page" data-theme="a" class = "flex-item">
			<div class="map_container" data-role="content">
				<div id="map"></div>
				<div class="shadow"></div>
			</div>
		</div>
	</div>
	
        <script>
        	
            mapboxgl.accessToken = '{{ ACCESS_KEY }}';
            var map = new mapboxgl.Map({
                container: 'map',
                style: 'mapbox://styles/mapbox/streets-v9',
                center: [13.4050, 52.5200],
                zoom: 12
            });
            //map.scrollZoom.disable();
            // Add zoom and rotation controls to the map.
			map.addControl(new mapboxgl.NavigationControl());

            map.on('load', function () {
                
            });

            map.on('error', e => {
                // Hide those annoying non-error errors
                if (e && e.error !== 'Error: Not Found')
                    console.error(e);
            });

            
            var startLon = -1;
            var startLat = -1;
            var targets = [];
            var sources = [];
            
            var timer = 0;
            var delay = 250;
            var prevent = false;

            var timestamp = -1;

            var it = 0;
            var is = 0;
            var targetId = 0;
            var sourceId = 0;

            var markers = []
            var popups = []

            var markerActivated = false;
            
            map.on('click', function(e) {
                if (markerActivated){
                	timer = setTimeout(function() {
                        if (!prevent) {
                        	var latitude = e.lngLat.lat;
                            var longitude = e.lngLat.lng;
                            //doWork()
                            
    						var str = Number((latitude).toFixed(6)) + "," + Number((longitude).toFixed(6));

    						var coord = { lat:latitude, lon:longitude }
    						console.log(coord.lat)
    			
                            console.log(str)
                            
                            //if(document.getElementById('inputSource').hidden == false) { 
                            	if(document.getElementById('inputSource').value == "") {
                    				//add marker
                                    // create a HTML element for each feature
                                    startLon = longitude;
                					startLat = latitude;
                					
                        			var el = document.createElement('div');
                        			el.className = 'marker_source';
                        			el.style.right = '-5px';
                                    el.style.top = '-12px';

                                    el.addEventListener('click', e => {
                                        e.stopPropagation();
                                        //functions
                                        console.log("source" + " clicked")
                                        
                                        var popup = new mapboxgl.Popup({closeOnClick: false, anchor: 'top'})
                                        .setLngLat({lat:latitude, lng: longitude})
                                        .setHTML("<strong>source</strong>")
                                        .addTo(map);

                                        popup.on('close', function(e) {
                                            console.log("popup closed")
                                        })

                                        popups.push(popup);
                                        
                                    }, true);

                        			// make a marker for each feature and add to the map
                        			var marker = new mapboxgl.Marker(el)
                          				.setLngLat(e.lngLat)
                          				.addTo(map);
                      				
                          			markers.push(marker);

                          			document.getElementById('inputSource').value = str;

                          			//if(!document.getElementById('targetNode1') || (document.getElementById('targetNode1') && document.getElementById('targetNode1').value == "")) {
                          				var new_source = document.getElementById ( "new_source" ) ;
                              			new_source.style.display = "inline" ;
                          			//}
                					
                    			}
                            	else if(document.getElementById('sourceNode'+is) && document.getElementById('sourceNode'+is).value == "") {
                    				//add marker
                                    // create a HTML element for each feature
                        				var el = document.createElement('div');
                        				el.className = 'marker_source';
                        				el.style.right = '-5px';
                                      	el.style.top = '-12px';
                                      	el.setAttribute("id", targetId);

                                      	el.addEventListener('click', e => {
                                            e.stopPropagation();
                                            //functions
                                            console.log("marker" + el.id + " clicked");
                                            
                                            if (map.getLayer("rr_layer")) {
                                        		if (!map.getLayer("paths"+el.id)) {
                                        			$.post("path", JSON.stringify(el.id) , function(res){
                                    					//console.log(marker_id)
    													var geom = res["path_geom"];
    													var tt_public = res["tt_public"];
                                    	                var tt_private = res["tt_private"];
    													
                                    	                console.log(tt_public, tt_private);

    													var html = '<font color="blue">' + tt_public + ' min </font><br><font color="red">' + tt_private + ' min </font>'
                                    	                var popup = new mapboxgl.Popup({closeOnClick: false, anchor: 'top'})
                                                        .setLngLat({lat:latitude, lng: longitude})
                                                        .setHTML(html)
                                                        .addTo(map);

                                    	                addPathLayer(el.id, geom);

                                    	                popup.on('close', function(e) {
                                                            console.log("popup closed")
                                                            if (map.getLayer("paths"+el.id)) {
    				    										map.removeLayer("paths"+el.id);
    														}

    														if (map.getSource("paths"+el.id)) {
    				    										map.removeSource("paths"+el.id);
    														}
                                                        })

                                                        popups.push(popup);
                                            		});
                                				}
                            				}
                                        }, true);

                        				// make a marker for each feature and add to the map
                        				var marker = new mapboxgl.Marker(el)
                          				.setLngLat(e.lngLat)
                          				.addTo(map);

                        				markers.push(marker);
                        				targetId = targetId + 1;

                        				document.getElementById('sourceNode'+is).value = str;
                        				sources.push(coord) 

                				}
                    			else if(document.getElementById('inputTarget').value == "") {
                    				//add marker
                                    // create a HTML element for each feature
                        				var el = document.createElement('div');
                        				el.className = 'marker_target';
                        				el.style.right = '-5px';
                                      	el.style.top = '-12px';
                                      	el.setAttribute("id", targetId);

                                      	el.addEventListener('click', e => {
                                            e.stopPropagation();
                                            //functions
                                            console.log("marker" + el.id + " clicked");

                                            if (map.getLayer("rr_layer")) {
                                        		if (!map.getLayer("paths"+el.id)) {
                                        			$.post("path", JSON.stringify(el.id) , function(res){
                                    					//console.log(marker_id)
    													var geom = res["path_geom"];
    													var tt_public = res["tt_public"];
                                    	                var tt_private = res["tt_private"];
    													
                                    	                console.log(tt_public, tt_private);

    													var html = '<font color="blue">' + tt_public + ' min </font><br><font color="red">' + tt_private + ' min </font>'
                                    	                var popup = new mapboxgl.Popup({closeOnClick: false, anchor: 'top'})
                                                        .setLngLat({lat:latitude, lng: longitude})
                                                        .setHTML(html)
                                                        .addTo(map);

                                    	                addPathLayer(el.id, geom);

                                    	                popup.on('close', function(e) {
                                                            console.log("popup closed")
                                                            
                                                            if (map.getLayer("paths"+el.id)) {
    				    										map.removeLayer("paths"+el.id);
    														}

    														if (map.getSource("paths"+el.id)) {
    				    										map.removeSource("paths"+el.id);
    														}	
                                                        })

                                                        popups.push(popup);
                                            		});
                                				}
                            				}
                                        }, true);

                        				// make a marker for each feature and add to the map
                        				var marker = new mapboxgl.Marker(el)
                          				.setLngLat(e.lngLat)
                          				.addTo(map);

                        				markers.push(marker); 
                        				targetId = targetId + 1;  

                        				document.getElementById('inputTarget').value = str; 

                        				//if(!document.getElementById('sourceNode1') || (document.getElementById('sourceNode1') && document.getElementById('sourceNode1').value == "")) {
                        					var new_target = document.getElementById ( "new_target" ) ;
                            				new_target.style.display = "inline" ;
                            			//}
                        				targets.push(coord) 


                				}
    							else if(document.getElementById('targetNode'+it) && document.getElementById('targetNode'+it).value == "") {
                    				//add marker
                                    // create a HTML element for each feature
                        				var el = document.createElement('div');
                        				el.className = 'marker_target';
                        				el.style.right = '-5px';
                                      	el.style.top = '-12px';
                                      	el.setAttribute("id", targetId);

                                      	el.addEventListener('click', e => {
                                            e.stopPropagation();
                                            //functions
                                            console.log("marker" + el.id + " clicked");
                                            
                                            if (map.getLayer("rr_layer")) {
                                        		if (!map.getLayer("paths"+el.id)) {
                                        			$.post("path", JSON.stringify(el.id) , function(res){
                                    					//console.log(marker_id)
    													var geom = res["path_geom"];
    													var tt_public = res["tt_public"];
                                    	                var tt_private = res["tt_private"];
    													
                                    	                console.log(tt_public, tt_private);

    													var html = '<font color="blue">' + tt_public + ' min </font><br><font color="red">' + tt_private + ' min </font>'
                                    	                var popup = new mapboxgl.Popup({closeOnClick: false, anchor: 'top'})
                                                        .setLngLat({lat:latitude, lng: longitude})
                                                        .setHTML(html)
                                                        .addTo(map);

                                    	                addPathLayer(el.id, geom);

                                    	                popup.on('close', function(e) {
                                                            console.log("popup closed")
                                                            if (map.getLayer("paths"+el.id)) {
    				    										map.removeLayer("paths"+el.id);
    														}

    														if (map.getSource("paths"+el.id)) {
    				    										map.removeSource("paths"+el.id);
    														}
                                                        })

                                                        popups.push(popup);
                                            		});
                                				}
                            				}
                                        }, true);

                        				// make a marker for each feature and add to the map
                        				var marker = new mapboxgl.Marker(el)
                          				.setLngLat(e.lngLat)
                          				.addTo(map);

                        				markers.push(marker);
                        				targetId = targetId + 1;

                        				document.getElementById('targetNode'+it).value = str;
                        				targets.push(coord)  

                				}
                				
                			//}else{
                			//	console.log("True")
                    		//}
                        }
                        prevent = false;
                    }, delay);
                    markerActivated = false;
                }
            	
              

            });

            map.on("dblclick", function() {
                clearTimeout(timer);
                prevent = true;
                map.zoomIn();
            });

            function addMarker(location){
                console.log("activating marker")
            	markerActivated = true;
            }
            

            function addSource() {

            	if(document.getElementById('sourceNode'+is) && document.getElementById('sourceNode'+is).value == ""){
            		alert("Select source before adding a new one."); 
                }else{
                	//Create an input type dynamically.
                	var element = document.createElement("input");

                	//Assign different attributes to the element.
                	element.setAttribute("type", "text");
                	element.setAttribute("value", "");
                	element.setAttribute("class", "input-text");

                	is = is + 1
                	element.id = "sourceNode" + is
                	//element.style.display = "block";
                	element.style.marginRight = "9px";
                	element.style.marginLeft = "35.3px";
                	element.style.marginTop = "10px";

                	var parent = document.getElementById("input_source");
                	
                	parent.appendChild(element);

                	var marker = document.getElementById("marker-button-source");
                	marker.style.marginRight = "5px";
                	parent.appendChild(marker); 
                	var polygon = document.getElementById("polygon-button-source");
                	polygon.style.marginRight = "5px";
                	parent.appendChild(polygon); 
                	var neig = document.getElementById("neig-button-source");
                	neig.style.marginRight = "5px";
                	parent.appendChild(neig); 
                	parent.appendChild(document.getElementById("new_source"));
                	 

                	//var new_target = document.getElementById ( "new_target" ) ;
    				//new_target.style.display = "none" ;
                }
            	

            }
            
            function addTarget() {
            	if(document.getElementById('targetNode'+it) && document.getElementById('targetNode'+it).value == ""){
            		alert("Select target before adding a new one."); 
                }else{
                	//Create an input type dynamically.
                	var element = document.createElement("input");

                	//Assign different attributes to the element.
                	element.setAttribute("type", "text");
                	element.setAttribute("value", "");
                	element.setAttribute("class", "input-text");
                	it = it + 1
                	element.id = "targetNode" + it
                	//element.style.display = "block";
                	element.style.marginRight = "9px";
                	element.style.marginLeft = "35.3px";
                	element.style.marginTop = "10px";


                	// 'foobar' is the div id, where new fields are to be added
                	var parent = document.getElementById("input_target");
                	
                	parent.appendChild(element);

                	var marker = document.getElementById("marker-button-target");
                	marker.style.marginRight = "5px";
                	parent.appendChild(marker); 
                	var polygon = document.getElementById("polygon-button-target");
                	polygon.style.marginRight = "5px";
                	parent.appendChild(polygon); 
                	var neig = document.getElementById("neig-button-target");
                	neig.style.marginRight = "5px";
                	parent.appendChild(neig); 
                	
                	parent.appendChild(document.getElementById("new_target"));

                	//var new_source = document.getElementById ( "new_source" ) ;
    				//new_source.style.display = "none" ;
                }

            }


            function departure(selectedValue) {
                console.log(selectedValue)
                if(selectedValue == "later"){
                	var picker = document.getElementById ( "dateTimePicker" ) ;
                	picker.style.display = "inline" ;
                	picker.setAttribute("class", "calendar-text");
                	$("#dateTimePicker").flatpickr({
                		enableTime: true,
                		dateFormat: "F, d Y H:i",
                		defaultDate: new Date().getTime(),
                		onChange: function(selectedDates, dateStr, instance) {
                            selectedDates.forEach(function (date){
            					//console.log(date)
                                //console.log(date.getFullYear(), date.getDate(), date.getMonth(), date.getTime());
                                timestamp = date.getTime()
                                //console.log(timestamp)
                            })
                        }
            		});
                }
                if(selectedValue == "now"){
                	var picker = document.getElementById ( "dateTimePicker" ) ;
                	picker.style.display = "none" ;
                	timestamp = new Date().getTime()
                }
            }

            function clearFields() {
                console.log("clearing map")
            	document.getElementById('inputSource').value = "";
            	document.getElementById('inputTarget').value = "";

            	var j;

            	console.log(popups.length)
            	for (j = 0; j < markers.length; j++) {
            		markers[j].remove();
            	}

            	for (j = 0; j < popups.length; j++) {
            		if (popups[j]){
            			if (popups[j].isOpen()){
            				popups[j].remove();
            				console.log("removing popup:" + j)
                		}
                	}
            	}
            	

            	for (j = 1; j <= i ; j++) {
            		var element = document.getElementById("targetNode" + j);
                	element.parentNode.removeChild(element);
            	}

            	var new_target = document.getElementById ("new_target") ;
            	new_target.parentNode.removeChild(new_target);
            	
				new_target.style.display = "none" ;
				//new_target.style.leftRight = "5px";
				
				var parent = document.getElementById("target_add");    // Get the <ul> element to insert a new node
				parent.appendChild(new_target);  // Insert <li> before the first child of <ul>

				if (map.getLayer("rr_layer")) {
				    map.removeLayer("rr_layer");
				}

				if (map.getSource("rr_layer")) {
				    map.removeSource("rr_layer");
				}

				var picker = document.getElementById ( "dateTimePicker" ) ;
            	picker.style.display = "none" ;

            	$("#select_departure").val('now');

				timestamp = -1;
				i = 0;
				targetId = 0;
            	
            	startLon = -1;
            	startLat = -1;
            	targets = []
            	markers = []
            	popups = []
            }

            function clearResults() {
                console.log("clearing results")

            	var j;
                console.log(popups.length)
            	for (j = 0; j < popups.length; j++) {
            		if (map.getLayer("paths"+j)) {
            			map.removeLayer("paths"+ j);
                    	map.removeSource("paths"+ j);
            		}
            		console.log(popups[j])
            		if (popups[j]){
            			if (popups[j].isOpen()){
            				popups[j].remove();
            				console.log("removing popup:" + j)
                		}
                	}
            	}

				if (map.getLayer("rr_layer")) {
				    map.removeLayer("rr_layer");
				}

				if (map.getSource("rr_layer")) {
				    map.removeSource("rr_layer");
				}

            	popups = []
            }

            function getResults() {
            	//console.log(startLon, startLat, targets.length) 
            	clearResults();
            	if(startLon == -1 || startLat == -1 || targets.length == 0) {
            		alert("Some coordinates are missing."); 
               	}
               	else if(isNaN(startLon) || isNaN(startLat) || targets == undefined) {
            		alert("Coordinates are not defined correctly."); 
               	}
               	else {
            		// ajax the JSON to the server
            		if(timestamp==-1){
            			timestamp = new Date().getTime();
                	}
            		console.log(timestamp)
            		var data_input = {"startLon": startLon, "startLat": startLat, "targets":targets, "timestamp":timestamp}

            		timestamp = -1
					
            		$.post("receiver", JSON.stringify(data_input) , function(res){
						//console.log(res)
						//console.log(res[1])
						//console.log(res["markers"])
						//console.log(res.features[0].properties)
						
						/*map.addSource("rr", {
		                    "type": "geojson",
		                    "data": res
		                });*/

		                map.addLayer({
		                    "id": "rr_layer",
		                    "type": "circle",
		                    "source": {
			                    "type": "geojson",
			                    "data": res
			                },
		                    'paint': {
		                    	'circle-radius': 10,
		                    	// color circles by rr
		                    	// https://docs.mapbox.com/mapbox-gl-js/style-spec/#expressions-match
		                    	'circle-color': [
									'match',
									['get', 'marker-color'],
									"r", '#ff0000',
									"b", '#0000FF',
									/* other */ '#ccc'
								]
		                    }
		                });
		                /*
		                map.addLayer({
		                    "id": "paths_public_layer",
		                    "type": "line",
		                    "source": {
			                    "type": "geojson",
			                    "data": res["paths_public"]
			                },
			                "layout": {
		                        "line-join": "round",
		                        "line-cap": "round"
		                    },
		                    "paint": {
		                        "line-color": "#223b53",
		                        "line-width": 4
		                    }
		                });

		                map.addLayer({
		                    "id": "paths_private_layer",
		                    "type": "line",
		                    "source": {
			                    "type": "geojson",
			                    "data": res["paths_private"]
			                },
			                "layout": {
		                        "line-join": "round",
		                        "line-cap": "round"
		                    },
		                    "paint": {
		                        "line-color": "#ff0000",
		                        "line-width": 4
		                    }
		                });*/
            		}); 
               	}        
            }

            function addPathLayer(marker_id, geom){
            	map.addLayer({
                    "id": "paths"+marker_id,
                    "type": "line",
                    "source": {
	                    "type": "geojson",
	                    "data": geom
	                },
	                "layout": {
                        "line-join": "round",
                        "line-cap": "round"
                    },
                    'paint': {
                    	"line-width": 6,
                    	// color routes by type
                    	// https://docs.mapbox.com/mapbox-gl-js/style-spec/#expressions-match
                    	'line-color': [
							'match',
							['get', 'line-color'],
							"r", '#ff0000',
							"b", '#0000FF',
							/* other */ '#ccc'
						]
                    }
                });
            }

            //console.log(getColorGradient("#FF0000", "#0000FF", 0))

        	function hexToRgb(hex) {
        	  var result = /^#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(hex);
        	  return result
        	    ? {
        	        r: parseInt(result[1], 16),
        	        g: parseInt(result[2], 16),
        	        b: parseInt(result[3], 16)
        	      }
        	    : null;
        	}

        	// returns an array of startColor, colors between according to steps, and endColor
        	function getColorGradient(startColor, endColor, p) {

        	  var startColorRgb = hexToRgb(startColor);
        	  var endColorRgb = hexToRgb(endColor);

        	  var rInc = Math.round((endColorRgb.r - startColorRgb.r) * p);
        	  var gInc = Math.round((endColorRgb.g - startColorRgb.g) * p);
        	  var bInc = Math.round((endColorRgb.b - startColorRgb.b) * p);

        	  startColorRgb.r += rInc;
        	  startColorRgb.g += gInc;
        	  startColorRgb.b += bInc;

        	    //console.log(startColorRgb)
        	    
        	    rgb = "#" + rgbToHex(startColorRgb.r) + rgbToHex(startColorRgb.g) + rgbToHex(startColorRgb.b)
        	    //console.log(rgb)
        	  return rgb;
        	}
        	  
			function rgbToHex(rgb) { 
				  var hex = Number(Math.round(rgb)).toString(16);
				  if (hex.length < 2) {
				       hex = "0" + hex;
				  }
				  return hex;
			};

        </script>
		
	<script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/flatpickr.js"></script>
	
    </body>
</html>