<html>
    <head>
        <meta charset='utf-8' />
        <title></title>
        <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
        <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.js'></script>
		<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.css' rel='stylesheet' />
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/flatpickr.css">
        
        
        <style>
            body { margin:0; padding:0; }
            #map { position:absolute; top:0; bottom:0; width: 80%; }
            .marker {
    			border: none;
    			cursor: pointer;
    			height: 32px;
    			width: 32px;
    			background-image: url(static/marker.png);
    			background-color: rgba(0, 0, 0, 0);
    			transform: translate(28px, 56px, 0);
			}
			.container{
    			height: 100%;
    			display: -webkit-flex;
    			display: flex;
    			-webkit-flex-direction: row;
    			flex-direction: row;
			}
			.fixed{
    			width: 20%;
			}
			.flex-item{
    			flex-grow: 1;
			}
			.flatpickr-calendar{
				font-size: 12px;
			}
			
        </style>
        <title>Relative Reachability - TEST </title>
    </head>
    <body>
    <div class="container">
    	<div id="slidemenu" class = "fixed">
			<div class="input" id="input_frame">
				<h4>Choose points from the map</h4>
				<img src="static/letter_a.png"> <input type="text" id="inputSource" value="" readonly><br>
				
				<div class="input" id="target_add">
				<img src="static/letter_b.png"> <input type="text" id="inputTarget" value="" readonly> 
				<button id="new_target" value="Add" onClick="add()" style="display:none; position:relative;">+</button>
				</div>
				<div class="input" id="input_target"></div>
				<br>
                <select id="select_departure" onchange="departure(this.value)">
  					<option value="now">Leave now</option>
  					<option value="later">Depart at</option>
				</select>
				<input type="text" style="display:none;" id="dateTimePicker" placeholder="Please select Date Time" data-input>
				<br><br>
				<button class="clearbutton" id="clear_button" onClick="clearFields()">Clear</button> <button class="button" id="getResults" onClick="getResults()">Get Directions</button>
			</div>

		</div>
		
        <div data-role="page" id="main_page" data-theme="a" class = "flex-item">
			<div class="map_container" data-role="content">
				<div id="map"></div>
				<div class="shadow"></div>
			</div>
		</div>
	</div>
	
        <script>
            mapboxgl.accessToken = '{{ ACCESS_KEY }}';
            var map = new mapboxgl.Map({
                container: 'map',
                style: 'mapbox://styles/mapbox/streets-v9',
                center: [13.4050, 52.5200],
                zoom: 12
            });
            //map.scrollZoom.disable();
            // Add zoom and rotation controls to the map.
			map.addControl(new mapboxgl.NavigationControl());

            map.on('load', function () {
                
            });

            
            var startLon = -1;
            var startLat = -1;
            var targets = [];
            
            var timer = 0;
            var delay = 250;
            var prevent = false;

            var timestamp = new Date();
            var time_changed = false;

            var i = 0;

            var markers = []
            
            map.on('click', function(e) {
            	timer = setTimeout(function() {
                    if (!prevent) {
                    	var latitude = e.lngLat.lat;
                        var longitude = e.lngLat.lng;
                        //doWork()
                        
						var str = Number((latitude).toFixed(6)) + "," + Number((longitude).toFixed(6));

						var coord = { lat:latitude, lon:longitude }
						console.log(coord.lat)
			
                        console.log(str)
                        
                        //if(document.getElementById('inputSource').hidden == false) { 
                        	if(document.getElementById('inputSource').value == "") {
                				//add marker
                                // create a HTML element for each feature
                                startLon = longitude;
            					startLat = latitude;
                    			var el = document.createElement('div');
                    			el.className = 'marker';
                    			el.style.right = '-5px';
                                el.style.top = '-12px';

                    			// make a marker for each feature and add to the map
                    			var marker = new mapboxgl.Marker(el)
                      				.setLngLat(e.lngLat)
                      				.addTo(map);

                      			markers.push(marker);

                      			document.getElementById('inputSource').value = str;
            					
                			}
                			else if(document.getElementById('inputTarget').value == "") {
                				var new_target = document.getElementById ( "new_target" ) ;
                				new_target.style.display = "inline" ;
                				
                				//add marker
                                // create a HTML element for each feature
                    				var el = document.createElement('div');
                    				el.className = 'marker';
                    				el.style.right = '-5px';
                                  	el.style.top = '-12px';

                    				// make a marker for each feature and add to the map
                    				var marker = new mapboxgl.Marker(el)
                      				.setLngLat(e.lngLat)
                      				.addTo(map);

                    				markers.push(marker);   

                    				document.getElementById('inputTarget').value = str; 

                    				targets.push(coord)     

            				}
							else if(document.getElementById('targetNode'+i) && document.getElementById('targetNode'+i).value == "") {
                				//add marker
                                // create a HTML element for each feature
                    				var el = document.createElement('div');
                    				el.className = 'marker';
                    				el.style.right = '-5px';
                                  	el.style.top = '-12px';

                    				// make a marker for each feature and add to the map
                    				var marker = new mapboxgl.Marker(el)
                      				.setLngLat(e.lngLat)
                      				.addTo(map);

                    				markers.push(marker);

                    				document.getElementById('targetNode'+i).value = str;

                    				targets.push(coord)  

            				}
            				
            			//}else{
            			//	console.log("True")
                		//}
                    }
                    prevent = false;
                }, delay);
              

            });

            map.on("dblclick", function() {
                clearTimeout(timer);
                prevent = true;
                map.zoomIn();
            });

            function add() {

            	//Create an input type dynamically.
            	var element = document.createElement("input");

            	//Assign different attributes to the element.
            	element.setAttribute("type", "text");
            	element.setAttribute("value", "");
            	i = i + 1
            	element.id = "targetNode" + i
            	//element.style.display = "block";
            	element.style.marginRight = "5px";
            	element.style.marginLeft = "35.3px";
            	element.style.marginTop = "10px";


            	// 'foobar' is the div id, where new fields are to be added
            	var parent = document.getElementById("input_target");
            	
            	parent.appendChild(element);
            	parent.appendChild(document.getElementById("new_target"));
            	//parent.appendChild(document.createElement("br"));

            	//var list = document.getElementById("input_frame");    // Get the <ul> element to insert a new node
            	//var ele_after = document.getElementById("clear_button");  
            	//list.insertBefore(element, ele_after);  // Insert <li> before the first child of <ul>
            	//var br = document.createElement("br");
            	//list.insertBefore(br, document.getElementById("clear_button"));  // Insert <li> before the first child of <ul>
            }

            function departure(selectedValue) {
                time_changed = true;
                console.log(selectedValue)
                if(selectedValue == "later"){
                	var picker = document.getElementById ( "dateTimePicker" ) ;
                	picker.style.display = "inline" ;
                	$("#dateTimePicker").flatpickr({
                		enableTime: true,
                		dateFormat: "F, d Y H:i",
                		defaultDate: timestamp,
                		onChange: function(selectedDates, dateStr, instance) {
                            selectedDates.forEach(function (date){
            					//console.log(date)
                                //console.log(date.getFullYear(), date.getDate(), date.getMonth(), date.getTime());
                                timestamp = date.getTime()
                                //console.log(timestamp)
                            })
                        }
            		});
                }
                if(selectedValue == "now"){
                	var picker = document.getElementById ( "dateTimePicker" ) ;
                	picker.style.display = "none" ;
                	timestamp = new Date()
                }
            }

            function clearFields() {
            	document.getElementById('inputSource').value = "";
            	document.getElementById('inputTarget').value = "";

            	var j;
            	for (j = 0; j < markers.length; j++) {
            		markers[j].remove();
            	}

            	for (j = 1; j <= i ; j++) {
            		var element = document.getElementById("targetNode" + j);
                	element.parentNode.removeChild(element);
            	}

            	//var parent = document.getElementById("input_frame");
            	//var brs = parent.getElementsByTagName('br');
            	//while (brs.length) {
            	//  brs[0].parentNode.removeChild(brs[0]);
            	//}
            	
            	var new_target = document.getElementById ("new_target") ;
            	new_target.parentNode.removeChild(new_target);
            	
				new_target.style.display = "none" ;
				//new_target.style.leftRight = "5px";
				
				var parent = document.getElementById("target_add");    // Get the <ul> element to insert a new node
				parent.appendChild(new_target);  // Insert <li> before the first child of <ul>

				if (map.getLayer("rr_layer")) {
				    map.removeLayer("rr_layer");
				}

				if (map.getSource("rr_layer")) {
				    map.removeSource("rr_layer");
				}

				var picker = document.getElementById ( "dateTimePicker" ) ;
            	picker.style.display = "none" ;

            	$("#select_departure").val('now');
            	time_changed = false;
				
				i = 0;
            	
            	startLon = -1;
            	startLat = -1;
            	targets = []
            }

            function getResults() {
            	//console.log(startLon, startLat, targets.length) 
            	if(startLon == -1 || startLat == -1 || targets.length == 0) {
            		alert("Some coordinates are missing."); 
               	}
               	else if(isNaN(startLon) || isNaN(startLat) || targets == undefined) {
            		alert("Coordinates are not defined correctly."); 
               	}
               	else {
            		// ajax the JSON to the server
            		if(!time_changed){
            			timestamp = new Date();
                	}
            		console.log(timestamp)
            		var data_input = {"startLon": startLon, "startLat": startLat, "targets":targets, "timestamp":timestamp}
					
            		$.post("receiver", JSON.stringify(data_input) , function(res){
						//console.log(res)
						//console.log(res.features[0].properties)
						
						/*map.addSource("rr", {
		                    "type": "geojson",
		                    "data": res
		                });*/

		                map.addLayer({
		                    "id": "rr_layer",
		                    "type": "circle",
		                    "source": {
			                    "type": "geojson",
			                    "data": res
			                },
		                    'paint': {
		                    	'circle-radius': 10,
		                    	// color circles by rr
		                    	// https://docs.mapbox.com/mapbox-gl-js/style-spec/#expressions-match
		                    	'circle-color': [
									'match',
									['get', 'marker-color'],
									"r", '#ff0000',
									"b", '#223b53',
									/* other */ '#ccc'
								]
		                    }
		                });
            		}); 
               	}        
            }

			/*'circle-color': {
		                    		"type": "categorical"
		                            property: 'marker-color',
		                             stops: [
		                                ["r", '#ff0000'],
		                                ["b", '#223b53']
		                            ]          
		   },*/

        </script>
		
	<script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/flatpickr.js"></script>
	
    </body>
</html>