<html>
    <head>
        <meta charset='utf-8' />
        <title>RRAMEN</title>
        <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
        <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.js'></script>
		<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.css' rel='stylesheet' />
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/flatpickr.css">
        
        <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.0.9/mapbox-gl-draw.js'></script>
		<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.0.9/mapbox-gl-draw.css' type='text/css' />
		
		<script type="text/javascript" src="static/js/color_gradient.js?1"></script>
		<script type="text/javascript" src="static/js/polygon.js?37"></script>
		<script type="text/javascript" src="static/js/neighborhood.js?132"></script>
		<script type="text/javascript" src="static/js/planner_menu.js?1"></script>
		<script type="text/javascript" src="static/js/routes.js?352"></script>
		<script type="text/javascript" src="static/js/stops.js?39"></script>
		<script type="text/javascript" src="static/js/road_segment.js?2"></script>
		
		<link rel="stylesheet" type="text/css" href="static/css/rr_test.css?78">
		<link rel="stylesheet" type="text/css" href="static/css/list_neighborhoods.css?21">
		<link rel="stylesheet" type="text/css" href="static/css/planner.css?10">
        
    </head>
    <body>
    <div class="top-item" >
			<img src="static/images/ramen-logo-black.png" style="display: block;height: 80%; vertical-align: middle; padding-top: 3px; padding-left: 5px;"> 
	</div>
	<hr style="padding:0px; margin: 0px; height: 8px; border: 0; box-shadow: inset 0 8px 8px -8px rgba(0, 0, 0, 0.5);">
    <div class="container">
    	<div id="slidemenu" class = "fixed">
				<div class="input" id="input_frame" style="margin: 5px;"><div class="tab">
  					<button class="tablinks active" id="button_individual" onclick="openTabIndividual(this)">Individual User</button>
  					<button class="tablinks" id="button_planner" onclick="openTabPlanner(this)">City Planner</button>
				</div>
				
				<h4>Choose points from the map</h4>
				
				<div class="input" id="input_source" style="display: inline-block;">
				<div style="display: inline-block;" >
					<img src="static/images/letter_s.png?2"  style="position:relative; top:10px"> 
				</div>
				<input type="text" id="sourceNode0" value="" class="input-text" readonly>
				<button id="marker-button-source" title='Select a point' class="button-image button-marker" onClick="addMarker('source')"><img src="static/images/marker-orange.png"></button>
				<button id="polygon-button-source" title='Draw a region (currently not supported)' class="button-image button-marker" onClick="addPolygon('source')"><img src="static/images/polygon.png"></button>
				<button id="neig-button-source" title='Select a neighborhood (currently not supported)' class=" button-image button-marker" onClick="addNeighborhood('source')"><img src="static/images/images.png"></button>
				<button id="new_source" class="button-add" value="Add" onClick="addSource()" style="display:none;">+</button>
				</div>
				<br><br>
				
				<div class="input" id="input_target">
				<div style="display: inline-block;" >
					<img src="static/images/letter_d.png"  style="position:relative; top:10px"> 
				</div> 
				<input type="text" id="targetNode0" value="" class="input-text" readonly> 
				<button id="marker-button-target" title='Select a point' class="button-image button-marker" onClick="addMarker('target')"><img src="static/images/marker-orange.png"></button>
				<button id="polygon-button-target" title='Draw a region' class="button-image button-marker" onClick="addPolygon('target')"><img src="static/images/polygon.png"></button>
				<button id="neig-button-target" title='Select a neighborhood' class=" button-image button-marker" onClick="addNeighborhood('target')"><img src="static/images/images.png"></button>
				<button  id="new_target" class="button-add" value="Add" onClick="addTarget()" style="display:none;">+</button>
				</div>
				<br>
				<div id="neig_div" style="width: 320px; display:none">
					<div id="neig_list_div" class="list" style="overflow:auto;max-height:20vh;">
						<ul id="list_neighborhoods" style="overflow:auto;">
						</ul>
					</div>
					<div style="float:right;display:inline-block;">
						<img id="close_list_neighborhoods" title='Close list' width="20px" style="cursor:pointer;" onClick="closeNeighborhoodList()" src="static/images/clear.svg">
					</div>
					<br><br>
				</div>
				<br>
				<div id="edit_buttons" style="width: 100%;display:none;">
					<button class="button-edit" id="button-edit-routes" onclick="showRoutes(this)">Edit Lines/Stops</button>
					<div id="routes_list_div" style="width: 300px;max-height:30vh; overflow:auto; display:none; padding:10px">
						<ul id="list_routes" style="overflow:auto;">
						</ul>
					</div>
					<hr style="padding:0px; margin: 0px; border: 0.8px solid #C8C8C8;">
					<button class="button-edit" id="button-edit-segments" onclick="selectSegments(this)">Edit Road Segments</button>
					<div id="segments_div" style="width: 300px;max-height:30vh; overflow:auto; display:none">
						<p style="color:#696969;font-size:14px">Please right click the map to select road segments.</p>
						<ul id="list_segments" style="width: 200px">
						</ul>
					</div>
					<br><br>
				</div>
                <select id="select_departure" onchange="departure(this.value)" class="dropdown">
  					<option value="now">Leave now</option>
  					<option value="later">Depart at</option>
				</select>
				<input type="text" style="display:none;" id="dateTimePicker" placeholder="Please select Date Time" data-input>
				<br><br>
				<button class="button-clear" id="clear_button" onClick="clearFields()">Clear</button> <button class="button-results" id="getResults" onClick="getResults()">Get Directions</button>
				<br>
			</div>

		</div>
		
        <div data-role="page" id="main_page" data-theme="a" class = "flex-item">
			<div class="map_container" data-role="content">
				<div id="map"></div>
				<div class="shadow"></div>
			</div>
		</div>
	</div>
	
        <script>
        	var polygons = {{polygons|safe}}
        	var routes = {{routes|safe}}
	        var stops = {{stops|safe}}
	        var stop_routes = {{stop_routes|safe}}
	        var transp_mapping = {{transp_mapping|safe}}
	        var stop_locations = {{stop_locations|safe}}
        	var network_center = {{network_center|safe}}

	        var LEVEL_IMAGE = {1:"rail-icon.png", 2:"rail-icon.png", 3:"urban-rail-icon.png", 4:"light-rail-icon.png", 5:"bus-icon.png"}
	        
        	$( document ).ready(function() {
            	//console.log( "document loaded" );
          		createNeighborhoodList(polygons);
    	        buildRouteList(routes, stops, transp_mapping)
        	});

            mapboxgl.accessToken = '{{ ACCESS_KEY }}';
            var map = new mapboxgl.Map({
                container: 'map',
                //style: 'mapbox://styles/mapbox/streets-v9',
                style: 'mapbox://styles/camilaferc/ck52r0hzk05zf1csdqwfxsozd',
                center: [network_center[0], network_center[1]],
                zoom: 12
            });
            //map.scrollZoom.disable();
            // Add zoom and rotation controls to the map.
			map.addControl(new mapboxgl.NavigationControl());

            map.on('style.load', function () {

                	const images =[
                		  {url: 'static/images/bus-icon.png', id: 'bus-icon'},
                		  {url: 'static/images/rail-icon.png?1', id: 'rail-icon'},
                		  {url: 'static/images/urban-rail-icon.png', id: 'urban-rail-icon'},
                		  {url: 'static/images/light-rail-icon.png', id: 'light-rail-icon'},
                	]

                	Promise.all(
                            images.map(img => new Promise((resolve, reject) => {
                                map.loadImage(img.url, function (error, res) {
                                    map.addImage(img.id, res)
                                    resolve();
                                })
                            }))
                    )
                	
                	addStopsLayer(stop_locations)  

                	map.addSource("polygons", {
                    	"type": "geojson",
                    	"data": polygons
                    	});

                    	// The feature-state dependent fill-opacity expression will render the hover effect
                    	// when a feature's hover state is set to true.
                    	map.addLayer({
                    		"id": "polygon-fills",
                    		"type": "fill",
                    		"source": "polygons",
                    		"layout": {},
                    		"paint": {
                    		"fill-color": "#627BC1",
                    		"fill-opacity": ["case",
                    		["boolean", ["feature-state", "hover"], false],
                    			0.4,
                    			0
                    		]
                    		}
                    });              
            });

            /*map.on('error', e => {
                // Hide those annoying non-error errors
                if (e && e.error !== 'Error: Not Found')
                    console.error(e);
            });*/

            var view = 0;

			function openTabIndividual(button){
				console.log("Individual User Selected");
				view = 0;
				button_planner = document.getElementById("button_planner");
				button_planner.className = button_planner.className.replace(" active", "");
				button.className += " active";
				edit_buttons = document.getElementById("edit_buttons");
				edit_buttons.style.display = "none";
			}  

			function openTabPlanner(button){
				console.log("Planner Selected");
				view = 1;
				button_individual = document.getElementById("button_individual");
				button_individual.className = button_individual.className.replace(" active", "");
				button.className += " active";
				edit_buttons = document.getElementById("edit_buttons");
				edit_buttons.style.display = "inline";
			}

            var targets = new Map();
            var sources = new Map();
            
            var timer = 0;
            var delay = 250;
            var prevent = false;

            var timestamp = -1;

            var it = 0;
            var is = 0;
            var targetId = 0;
            var sourceId = 0;

            var markers = []
            var popups = []

            var markerActivated = false;
            var currentLocation = null;

            map.on('click', function(e) {
                if (markerActivated){
                	timer = setTimeout(function() {
                        if (!prevent) {
                        	var latitude = e.lngLat.lat;
                            var longitude = e.lngLat.lng;
                            //doWork()
                            
    						var str = Number((latitude).toFixed(6)) + "," + Number((longitude).toFixed(6));

    						var coord = { lat:latitude, lon:longitude }
    						console.log(coord.lat)
    			
                            console.log(str)
                            
                            	if(currentLocation == "source" && document.getElementById('sourceNode'+is)) {
                                	var sourceNode = document.getElementById('sourceNode'+is)
                                	if (sourceNode.value != ""){
                                		removeMarkerSource(sourceNode)
                                    }
                    				//add marker
                                    // create a HTML element for each feature
                        				var el = document.createElement('div');
                        				el.className = 'marker_source';
                        				el.style.right = '-5px';
                                      	el.style.top = '-12px';
                                      	el.setAttribute("id", "marker_s_"+ sourceId);

                                      	document.getElementById('sourceNode'+is).setAttribute("marker", sourceId)

                                      	el.addEventListener('click', e => {
                                            e.stopPropagation();
                                            //functions
                                            console.log("marker" + el.id + " clicked");
                                            
                                            if (map.getLayer("rr_layer")) {
                                        		if (!map.getLayer("paths_"+el.id)) {
                                            		var path_data = {"location_type": "source", "id": el.id.split("_")[2]}
                                        			$.post("path", JSON.stringify(path_data) , function(res){
                                    					//console.log(marker_id)
    													var geom = res["path_geom"];
    													var tt_public = res["tt_public"];
                                    	                var tt_private = res["tt_private"];
    													
                                    	                console.log(tt_public, tt_private);

    													var html = '<font color="blue">' + tt_public + ' min </font><br><font color="red">' + tt_private + ' min </font>'
                                    	                var popup = new mapboxgl.Popup({closeOnClick: false, anchor: 'top'})
                                                        .setLngLat({lat:latitude, lng: longitude})
                                                        .setHTML(html)
                                                        .addTo(map);

                                    	                addPathLayer(el.id, geom);

                                    	                popup.on('close', function(e) {
                                                            console.log("popup closed")
                                                            if (map.getLayer("paths_"+el.id)) {
    				    										map.removeLayer("paths_"+el.id);
    														}

    														if (map.getSource("paths_"+el.id)) {
    				    										map.removeSource("paths_"+el.id);
    														}
                                                        })

                                                        popups.push(popup);
                                            		});
                                				}
                            				}
                                        }, true);

                        				// make a marker for each feature and add to the map
                        				var marker = new mapboxgl.Marker(el)
                          				.setLngLat(e.lngLat)
                          				.addTo(map);

                        				markers.push(marker);
                        				sources.set(sourceId, coord) 
                        				sourceId = sourceId + 1;

                        				document.getElementById('sourceNode'+is).value = str;

                        				var new_source = document.getElementById ( "new_source" ) ;
                              			new_source.style.display = "inline" ;
                              			

                				}
    							else if(currentLocation == "target" && document.getElementById('targetNode'+it)) {
    								var targetNode = document.getElementById('targetNode'+it)
                                	if (targetNode.value != ""){
                                		removeMarkerTarget(targetNode)
                                		removePolygonTarget()
                                		removeNeighborhoodTarget()
                                    }
                    				//add marker
                                    // create a HTML element for each feature
                        				var el = document.createElement('div');
                        				el.className = 'marker_target';
                        				el.style.right = '-5px';
                                      	el.style.top = '-12px';
                                      	el.setAttribute("id", "marker_t_"+ targetId);

                                      	document.getElementById('targetNode'+it).setAttribute("marker", targetId)

                                      	el.addEventListener('click', e => {
                                            e.stopPropagation();
                                            //functions
                                            console.log("marker" + el.id + " clicked");
                                            
                                            if (map.getLayer("rr_layer")) {
                                        		if (!map.getLayer("paths_"+el.id)) {
                                        			var path_data = {"location_type": "target", "id": el.id.split("_")[2]}
                                        			$.post("path", JSON.stringify(path_data) , function(res){
                                    					//console.log(marker_id)
    													var geom = res["path_geom"];
    													var tt_public = res["tt_public"];
                                    	                var tt_private = res["tt_private"];
    													
                                    	                console.log(tt_public, tt_private);

    													var html = '<font color="blue">' + tt_public + ' min </font><br><font color="red">' + tt_private + ' min </font>'
                                    	                var popup = new mapboxgl.Popup({closeOnClick: false, anchor: 'top'})
                                                        .setLngLat({lat:latitude, lng: longitude})
                                                        .setHTML(html)
                                                        .addTo(map);

                                    	                addPathLayer(el.id, geom);

                                    	                popup.on('close', function(e) {
                                                            console.log("popup closed")
                                                            if (map.getLayer("paths_"+el.id)) {
    				    										map.removeLayer("paths_"+el.id);
    														}

    														if (map.getSource("paths_"+el.id)) {
    				    										map.removeSource("paths_"+el.id);
    														}
                                                        })

                                                        popups.push(popup);
                                            		});
                                				}
                            				}
                                        }, true);

                        				// make a marker for each feature and add to the map
                        				var marker = new mapboxgl.Marker(el)
                          				.setLngLat(e.lngLat)
                          				.addTo(map);

                        				markers.push(marker);
                        				targets.set(targetId, coord) 
                        				targetId = targetId + 1;

                        				document.getElementById('targetNode'+it).value = str;

                        				var new_target = document.getElementById ( "new_target" ) ;
                        				new_target.style.display = "inline" ;

                				}
                				
                			//}else{
                			//	console.log("True")
                    		//}
                        }
                        prevent = false;
                    }, delay);
                    markerActivated = false;
                }
            	
              

            });

            var popup_seg = new Map()
            map.on('contextmenu', function(e) {
            	//console.log("right click")
            	//console.log(view)
                if(view == 1){
                    var latitude = e.lngLat.lat;
                    var longitude = e.lngLat.lng;
                    //console.log(latitude, longitude)
                    
                    var segment_data = {"latitude": latitude, "longitude": longitude}
            			$.post("segment", JSON.stringify(segment_data) , function(res){
        					//console.log(marker_id)
    						var geom = res["segment"];
    						var seg_id = res["segment_id"];
    						//console.log(geom, seg_id)

    						
    						if (!map.getLayer("seg_"+ seg_id)) {
    							//console.log("Adding layer:" + seg_id)
    							map.addLayer({
    						        "id": "seg_"+ seg_id,
    						        "type": "line",
    						        "source": {
    						            "type": "geojson",
    						            "data": geom
    						        },
    						        "layout": {
    						            "line-join": "round",
    						            "line-cap": "round"
    						        },
    						        'paint': {
    						        	"line-width": 6,
    						        	// color routes by type
    						        	// https://docs.mapbox.com/mapbox-gl-js/style-spec/#expressions-match
    						        	'line-color': '#ffdf00'
    						        }
    						    });


    							var html = '<p style="width: 110px; padding:-10px"> Remove highlighted road segment? </p>' + 
    			                '<button style="margin-right: 10px;" onclick="removeSegment(true, '+ seg_id + ')">Yes</button>' +
    			                '<button onclick="removeSegment(false, '+ seg_id + ')">No</button>';
    			                
    			                var popup = new mapboxgl.Popup({closeOnClick: false, anchor: 'top', offset:10, closeButton: false})
    			                .setLngLat({lat:latitude, lng: longitude})
    			                .setHTML(html)
    			                .addTo(map);

    			                popup_seg.set(seg_id, popup)

    						}
    						
                	});
                }
            });

            map.on("dblclick", function() {
                clearTimeout(timer);
                prevent = true;
                map.zoomIn();
            });

            var popup_stop = null;

            for(level in stop_locations){
            	var layer_name = "stops-" + level
            	
            	map.on('mouseenter', layer_name, function(e) {
              	  	map.getCanvas().style.cursor = 'pointer'
              	  	// Here you can access e.features[0] which is the feature cliked
                        // With that you can do whatever you want with your feature
                        lonLat = e.lngLat
                        latitude = lonLat.lat
                        longitude = lonLat.lng
                        var stop_id = e.features[0].id
                        list_routes_level = stop_routes[stop_id]

                        var html = ''
                        for (level in list_routes_level){
                            var image_level = LEVEL_IMAGE[level]
                            html += "<img src='static/images/" + image_level + "' style='vertical-align: text-top;'> "
                            
                            var list_routes = list_routes_level[level]
                        	for (i = 0; i < list_routes.length; i++) {
                                route_name = list_routes[i].split("_")[0]
                                if(view == 0){
                                	html += "<button class='boxed' id='sr_" + list_routes[i] + "_" + stop_id + "' onclick='stopRouteSelection(this)'>" + route_name + "</button> "
                                }else{
                                	var checkbox = document.getElementById(list_routes[i] + "_" + stop_id);
                                    if(checkbox.checked){
                                    	html += "<button class='boxed' id='sr_" + list_routes[i] + "_" + stop_id + "' onclick='stopRouteSelection(this)'>" + route_name + "</button> "
                                    }else{
                                    	html += "<button class='boxed button_unselected' id='sr_" + list_routes[i] + "_" + stop_id + "' onclick='stopRouteSelection(this)'>" + route_name + "</button> "
                                    }
                                }
                                
                            }
                            html += "<br>"
                        }
                        //console.log(html)
                
                   	if(!popup_stop || (popup_stop && !popup_stop.isOpen())){
                   		popup_stop = new mapboxgl.Popup({closeOnClick: true, offset:'3px'})
                        .setLngLat({lat:latitude, lng: longitude})
                        .setHTML(html)
                        .addTo(map);
                    }              

              	});
              	
             	map.on('mouseleave', layer_name, function(e){
             		popup_stop_div = popup_stop._container
             		popup_stop_div.onmouseleave = function(event) {
                 		popup_stop.remove();
                 		map.getCanvas().style.cursor = '';
                 	};

                    var bounds = popup_stop_div.getBoundingClientRect()
                    var top = bounds.top
                    var bottom = bounds.bottom
                    var left = bounds.left
                    var right = bounds.right

                 	var x = e.originalEvent.x
                 	var y = e.originalEvent.y

                 	if(x >= Math.min(left, right) && x <= Math.max(left, right) && y >= Math.min(bottom, top) && y <= Math.max(bottom, top)){
                     	//console.log("Mouse is INSIDE area!")
                    }else{
                    	 map.getCanvas().style.cursor = ''
                    	 popup_stop.remove()
                    }
                  	 
             	});
            }


            function addMarker(location){
                console.log("activating marker")
                currentLocation = location
            	markerActivated = true;
            	if (draw){
            		draw.changeMode('simple_select');
            		map.getCanvas().style.cursor = ''
                }
            }

            function addPolygon(location){
            	markerActivated = false;
                addPolygonLocation(location, map)
            }

            function addNeighborhood(location){
            	markerActivated = false;
            	if (draw){
            		draw.changeMode('simple_select');
            		map.getCanvas().style.cursor = ''
                }
            	addNeighborhoodLocation(location)
            }


            function addSource() {
            	if(document.getElementById('sourceNode'+is) && document.getElementById('sourceNode'+is).value == ""){
            		alert("Select source before adding a new one."); 
                }else{
                	//Create an input type dynamically.
                	var element = document.createElement("input");

                	//Assign different attributes to the element.
                	element.setAttribute("type", "text");
                	element.setAttribute("value", "");
                	element.setAttribute("class", "input-text");

                	is = is + 1
                	element.id = "sourceNode" + is
                	element.style.marginRight = "9px";
                	element.style.marginLeft = "35.3px";
                	element.style.marginTop = "10px";

                	var parent = document.getElementById("input_source");
                	
                	parent.appendChild(element);

                	var marker = document.getElementById("marker-button-source");
                	marker.style.marginRight = "5px";
                	parent.appendChild(marker); 
                	var polygon = document.getElementById("polygon-button-source");
                	polygon.style.marginRight = "5px";
                	parent.appendChild(polygon); 
                	var neig = document.getElementById("neig-button-source");
                	neig.style.marginRight = "5px";
                	parent.appendChild(neig); 
                	parent.appendChild(document.getElementById("new_source"));


                	console.log("creating button")
                    var inputSource = document.getElementById("sourceNode" + (is-1))
                    inputSource.style.marginRight = "9px";
                    console.log(inputSource)

                    var image = document.createElement("img");
					image.src =  '../../static/images/clear.svg';
					image.style.cursor = "pointer";
					image.width="18"
					//image.style.marginRight = "5px";
					//image.style.left = "20px";
					image.style.verticalAlign = "middle";
					image.setAttribute("id", "source_" + (is-1));
					image.addEventListener("click", function() { removeSource(this); })	
                    inputSource.parentNode.insertBefore(image, inputSource.nextSibling);

                }
            	

            }

            function removeSource(image){
                const id = image.id
                var source_id = id.split("_")[1];
                var inputSource = document.getElementById("sourceNode" + source_id);
                pos = $(inputSource).index()
            	if (pos == 1){
                	var parent = document.getElementById("input_source");
                	var nextInput = parent.children[3];
                	if (nextInput){
                		nextInput.style.marginLeft = "0px";
                    }
                }
                inputSource.parentNode.removeChild(inputSource);
                removeMarkerSource(inputSource)
            	image.parentNode.removeChild(image);
            	
            }

            function removeMarkerSource(inputSource){
            	var marker = inputSource.getAttribute("marker")
                if (marker){
                    console.log("marker found!")
                	var markerDiv = document.getElementById("marker_s_"+ marker)
                	console.log(markerDiv)
                	markerDiv.parentNode.removeChild(markerDiv);
                    sources.delete(parseInt(marker, 10))
                    console.log(marker, sources)
                    inputSource.removeAttribute("marker")
                }
            }
            
            function addTarget() {
            	if(document.getElementById('targetNode'+it) && document.getElementById('targetNode'+it).value == ""){
            		alert("Select target before adding a new one."); 
                }else{
                	//Create an input type dynamically.
                	var element = document.createElement("input");

                	//Assign different attributes to the element.
                	element.setAttribute("type", "text");
                	element.setAttribute("value", "");
                	element.setAttribute("class", "input-text");
                	it = it + 1
                	element.id = "targetNode" + it
                	//element.style.display = "block";
                	element.style.marginRight = "9px";
                	element.style.marginLeft = "35.3px";
                	element.style.marginTop = "10px";


                	var parent = document.getElementById("input_target");
                	
                	parent.appendChild(element);

                	var marker = document.getElementById("marker-button-target");
                	marker.style.marginRight = "5px";
                	parent.appendChild(marker); 
                	var polygon = document.getElementById("polygon-button-target");
                	polygon.style.marginRight = "5px";
                	parent.appendChild(polygon); 
                	var neig = document.getElementById("neig-button-target");
                	neig.style.marginRight = "5px";
                	parent.appendChild(neig); 
                	
                	parent.appendChild(document.getElementById("new_target"));

                	console.log("creating button")
                    var inputTarget = document.getElementById("targetNode" + (it-1))
                    inputTarget.style.marginRight = "9px";
                    console.log(inputTarget)

                    var image = document.createElement("img");
					image.src =  '../../static/images/clear.svg';
					image.style.cursor = "pointer";
					image.width="18"
					image.style.verticalAlign = "middle";
					image.setAttribute("id", "target_" + (it-1));
					image.addEventListener("click", function() { removeTarget(this); })	
                    inputTarget.parentNode.insertBefore(image, inputTarget.nextSibling);

                	//var new_source = document.getElementById ( "new_source" ) ;
    				//new_source.style.display = "none" ;
                }

            }

            function removeTarget(image){
                const id = image.id
                var target_id = id.split("_")[1];
                console.log(target_id)
                var inputTarget = document.getElementById("targetNode" + target_id);
                console.log(inputTarget)
                pos = $(inputTarget).index()
            	if (pos == 1){
                	var parent = document.getElementById("input_target");
                	var nextInput = parent.children[3];
                	if (nextInput){
                		nextInput.style.marginLeft = "0px";
                    }
                }
                inputTarget.parentNode.removeChild(inputTarget);
                removeMarkerTarget(inputTarget)
            	image.parentNode.removeChild(image);
            	
            }

            function removeMarkerTarget(inputTarget){
            	var marker = inputTarget.getAttribute("marker")
                if (marker){
                    console.log("marker found!")
                	var markerDiv = document.getElementById("marker_t_"+ marker)
                	console.log(markerDiv)
                	markerDiv.parentNode.removeChild(markerDiv);
                    targets.delete(parseInt(marker, 10))
                    console.log(marker, targets)
                    inputTarget.removeAttribute("marker")
                }
            }

            function departure(selectedValue) {
                console.log(selectedValue)
                if(selectedValue == "later"){
                	var picker = document.getElementById ( "dateTimePicker" ) ;
                	picker.style.display = "inline" ;
                	picker.setAttribute("class", "calendar-text");
                	$("#dateTimePicker").flatpickr({
                		enableTime: true,
                		dateFormat: "F, d Y H:i",
                		defaultDate: new Date().getTime(),
                		onChange: function(selectedDates, dateStr, instance) {
                            selectedDates.forEach(function (date){
            					//console.log(date)
                                //console.log(date.getFullYear(), date.getDate(), date.getMonth(), date.getTime());
                                timestamp = date.getTime()
                                //console.log(timestamp)
                            })
                        }
            		});
                }
                if(selectedValue == "now"){
                	var picker = document.getElementById ( "dateTimePicker" ) ;
                	picker.style.display = "none" ;
                	timestamp = new Date().getTime()
                }
            }

            function clearFields() {
                console.log("clearing map")
                clearResults();
                /*var firstSourceInput = document.getElementById("input_source").children[1]
                firstSourceInput.id = "sourceNode0"
                firstSourceInput.value = "";
                firstSourceInput.style.marginRight = "9px"*/
            	//document.getElementById('inputTarget').value = "";

            	var j;

            	for (j = 0; j <= is ; j++) {
            		var element = document.getElementById("sourceNode" + j);
            		if (element){
            			element.parentNode.removeChild(element);
                	}
            		var clear_element = document.getElementById("source_" + j);
            		if (clear_element){
            			clear_element.parentNode.removeChild(clear_element);
                	}
            	}

            	for (j = 0; j <= it ; j++) {
            		var element = document.getElementById("targetNode" + j);
            		if (element){
            			element.parentNode.removeChild(element);
                	}
            		var clear_element = document.getElementById("target_" + j);
            		if (clear_element){
            			clear_element.parentNode.removeChild(clear_element);
                	}
            	}

            	var parent_source = document.getElementById("input_source");
            	var marker_source = document.getElementById ("marker-button-source");
            	marker_source.parentNode.removeChild(marker_source);
            	var polygon_source = document.getElementById ("polygon-button-source");
            	polygon_source.parentNode.removeChild(polygon_source);
            	var neig_source = document.getElementById ("neig-button-source");
            	neig_source.parentNode.removeChild(neig_source);
            	var new_source = document.getElementById ("new_source") ;
            	new_source.parentNode.removeChild(new_source);

            	//Create an input type dynamically.
            	var source = document.createElement("input");
            	//Assign different attributes to the element.
            	source.setAttribute("type", "text");
            	source.setAttribute("value", "");
            	source.setAttribute("class", "input-text");
            	source.id = "sourceNode0"
            	source.style.marginRight = "9px";
            	//element.style.marginLeft = "35.3px";
            	//element.style.marginTop = "10px";
            	new_source.style.display = "none" ;
            	marker_source.style.marginRight = "5px";
            	polygon_source.style.marginRight = "5px";
            	neig_source.style.marginRight = "5px";
            	parent_source.appendChild(source);
            	parent_source.appendChild(marker_source);
            	parent_source.appendChild(polygon_source);
            	parent_source.appendChild(neig_source);
            	parent_source.appendChild(new_source);
            	

            	var parent_target = document.getElementById("input_target");
            	var marker_target = document.getElementById ("marker-button-target");
            	marker_target.parentNode.removeChild(marker_target);
            	var polygon_target = document.getElementById ("polygon-button-target");
            	polygon_target.parentNode.removeChild(polygon_target);
            	var neig_target = document.getElementById ("neig-button-target");
            	neig_target.parentNode.removeChild(neig_target);
            	var new_target = document.getElementById ("new_target") ;
            	new_target.parentNode.removeChild(new_target);

            	var target = document.createElement("input");
            	target.setAttribute("type", "text");
            	target.setAttribute("value", "");
            	target.setAttribute("class", "input-text");
            	target.id = "targetNode0"
            	target.style.marginRight = "9px";
            	new_target.style.display = "none" ;
            	marker_target.style.marginRight = "5px";
            	polygon_target.style.marginRight = "5px";
            	neig_target.style.marginRight = "5px";
            	parent_target.appendChild(target);
            	parent_target.appendChild(marker_target);
            	parent_target.appendChild(polygon_target);
            	parent_target.appendChild(neig_target);
            	parent_target.appendChild(new_target);    
            	

            	for (j = 0; j < markers.length; j++) {
                    markers[j].remove()
            	}        	
				
				var picker = document.getElementById ( "dateTimePicker" ) ;
            	picker.style.display = "none" ;

            	$("#select_departure").val('now');

            	if (draw){
            		draw.deleteAll();
            		map.removeControl(draw);
            		draw = null;
                }

            	var divList = document.getElementById("neig_div");
            	divList.style.display = "none";
            	clearSelectedNeighborhoods();

				timestamp = -1;
				is = 0;
				it = 0;
				targetId = 0;
				sourceId = 0;
            	
            	sources = new Map()
            	targets = new Map()
            	markers = []
            	popups = []

            	markerActivated = false;
            	polygon_source_coords = null;
            	polygon_target_coords = null;

            	popup_stop = null;

            	var list = document.getElementById("routes_list_div");
            	list.style.display = "none";
            	list = document.getElementById("segments_div");
            	list.style.display = "none";
            	var button = document.getElementById("button-edit-routes");
            	button.className = button.className.replace(" active_edit", "");
            	button = document.getElementById("button-edit-segments");
            	button.className = button.className.replace(" active_edit", "");
            	document.getElementById("list_segments").innerHTML = "";

            	for (seg of popup_seg.keys()){
            		if (map.getLayer("seg_" + seg)) {
    				    map.removeLayer("seg_" + seg);
    				    map.removeSource("seg_" + seg);
    				}
                }
            	popup_seg = new Map();
            	
            	clearSelectedRoutes();
            }

            function clearResults() {
                console.log("clearing results")

            	var j;
                console.log(popups.length)
            	for (j = 0; j < popups.length; j++) {
            		if (map.getLayer("paths"+j)) {
            			map.removeLayer("paths"+ j);
                    	map.removeSource("paths"+ j);
            		}
            		console.log(popups[j])
            		if (popups[j]){
            			if (popups[j].isOpen()){
            				popups[j].remove();
            				console.log("removing popup:" + j)
                		}
                	}
            	}


				if (map.getLayer("rr_layer")) {
				    map.removeLayer("rr_layer");
				}

				if (map.getSource("rr_layer")) {
				    map.removeSource("rr_layer");
				}

            	popups = []
            }

            function getResults() {
            	//console.log(sources.size, targets.size) 
            	clearResults();
            	checked_neig = getSelectedNeighborhoods()
            	if((sources.size == 0 && !polygon_source_coords ) || (targets.size == 0 && !polygon_target_coords && checked_neig.length == 0 )) {
            		alert("Some coordinates are missing."); 
               	}
               	else {
            		now = false;
            		if(timestamp==-1){
            			timestamp = new Date().getTime();
            			now = true;
                	}
            		console.log(timestamp)
            		var data_input = {"sources": sources, "targets":targets, "timestamp":timestamp, "polygon_source_coords":polygon_source_coords,
                		"polygon_target_coords": polygon_target_coords, "selected_neighborhoods":checked_neig}
            		
					if(now){
						timestamp = -1
					}

            		// ajax the JSON to the server
            		$.post("receiver", JSON.stringify(data_input) , function(res){
		                map.addLayer({
		                    "id": "rr_layer",
		                    "type": "circle",
		                    "source": {
			                    "type": "geojson",
			                    "data": res
			                },
		                    'paint': {
		                    	'circle-radius': 8,
		                    	// color circles by rr
		                    	'circle-color': [
		                    		'interpolate',
		                    		['linear'],
		                    		['get', 'marker-color'],
		                    		0, '#ff0000',
		                    		1, '#0000FF'
		                    	]
		                    }
		                });
            		}); 
               	}        
            }

            function addPathLayer(marker_id, geom){
            	map.addLayer({
                    "id": "paths_"+marker_id,
                    "type": "line",
                    "source": {
	                    "type": "geojson",
	                    "data": geom
	                },
	                "layout": {
                        "line-join": "round",
                        "line-cap": "round"
                    },
                    'paint': {
                    	"line-width": 6,
                    	// color routes by type
                    	// https://docs.mapbox.com/mapbox-gl-js/style-spec/#expressions-match
                    	'line-color': [
							'match',
							['get', 'line-color'],
							"r", '#ff0000',
							"b", '#0000FF',
							/* other */ '#ccc'
						]
                    }
                });
            }


        </script>
		
	<script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/flatpickr.js"></script>
	
    </body>
</html>